Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

chore: Stop using isomorphic-unfetch
  package-lock.json
  package.json
  src/util/npm-api.ts
Due: eslint --fix, prettier --write

chore: Try to use getStaticProps
  .eslintrc.json
  src/pages/[...parts].tsx
Due: eslint --fix, prettier --write

style: Use chakra-ui
  package-lock.json
  package.json
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/Loading.tsx
  src/components/icons/github.tsx
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

refactor: Small change to make requests be slightly more simultaneous
  src/pages/[...parts].tsx
Due: eslint --fix

style: Fix header
  src/components/Header/index.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore: Reset tsconfig to standard next.js
  tsconfig.json
Due: prettier --write

chore: Enforce new lint rules
  package-lock.json
  package.json
  src/components/Loading.tsx
  src/pages/[...parts].tsx
  src/pages/index.tsx
  src/util/npm-api.ts
  types/react-diff-view/index.d.ts
Due: eslint --fix, prettier --write

chore: fix some typings oopsies with Hunk
  src/pages/[...parts].tsx
  types/react-diff-view/index.d.ts
Due: eslint --fix

feat: Use react-diff-viewer instead of react-diff-view
  package-lock.json
  package.json
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/styles.css
  src/util/getDiff.ts
  src/util/npm-api.ts
  types/react-diff-view/index.d.ts
  types/react-diff-view/package.json
  types/unidiff/index.d.ts
  types/unidiff/package.json
Due: eslint --fix, prettier --write

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

fix: Clean leftover bootstrapping
  interfaces/index.ts
Due: eslint --fix

ci(depends): Use new github dependabot config
  .dependabot/config.yml
  .github/dependabot.yml
Due: prettier --write

ci(actions): Update actions
  .github/workflows/nodejs.yml
Due: prettier --write

ci(actions): Fix cachings and node-setup
  .github/workflows/nodejs.yml
Due: prettier --write

ci(actions): cleanup caching keys
  .github/workflows/nodejs.yml
Due: prettier --write

Make dependabot check actions
  .github/dependabot.yml
Due: prettier --write

ci(acitons): Try to have all steps without names, see if it makes sense
  .github/workflows/nodejs.yml
Due: prettier --write

feat(examples): Add examples that are pre-rendered
  src/examples.ts
  src/pages/[...parts].tsx
  src/pages/index.tsx
  src/util/npm-api.ts
Due: eslint --fix

chore(deps): Bump sub-depends
  package-lock.json
Due: prettier --write

chore: Update package.json with keywords
  package.json
Due: prettier --write

docs: Update README
  README.md
Due: prettier --write

chore: Try to add node debugging
  .gitignore
  .vscode/launch.json
Due: prettier --write

feat(api): Extract diffing code and access via API
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
  src/util/query-to-diff.ts
Due: eslint --fix

feat(api): Add simple page explaining API
  src/pages/about/api.tsx
Due: eslint --fix

feat(ui): Add link to about/api in header.
  src/components/Header/APILink.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
Due: eslint --fix

fix(head): Stop including some tags that next.js adds for us
  src/components/Layout.tsx
Due: eslint --fix

fix: Use node get since we always fetch tarball serverside now
  package-lock.json
  package.json
  src/util/npm-api.ts
Due: eslint --fix, prettier --write

ci(dependabot): Remove unecessary quotes
  .github/dependabot.yml
Due: prettier --write

ci(codeql): Add codeql config
  .github/workflows/codeql-analysis.yml
Due: prettier --write

chore: specify catch as unknown
  src/util/getPkgDetails.ts
Due: eslint --fix

chore: Update for Next 10
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix

feat(tailwind): Bootstrap tailwindcss
  package-lock.json
  package.json
  postcss.config.js
  src/pages/_app.tsx
  src/styles/main.css
Due: eslint --fix, prettier --write

feat(tailwind): Replace all chakra-ui with tailwind classnames
  src/components/Header/APILink.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/Loading.tsx
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/pages/about/api.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: eslint --fix

chore(tailwind): Remove chakra and emotion deps
  package-lock.json
  package.json
Due: prettier --write

chore: Remove document file
  src/pages/_document.tsx
Due: eslint --fix
