Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: Break out each component as custom component
  src/pages/autocomplete.tsx
Due: eslint --fix

refactor: Start breaking out combobox into "generic" component
  src/components/Combobox/ComboboxWrapper.ts
  src/components/Combobox/index.tsx
  src/pages/autocomplete.tsx
Due: eslint --fix

refactor: Make the new combobox component less monolithic
  src/components/Combobox/ComboboxBox.tsx
  src/components/Combobox/ComboboxButton.tsx
  src/components/Combobox/ComboboxInput.tsx
  src/components/Combobox/ComboboxLabel.tsx
  src/components/Combobox/ComboboxSuggestion.tsx
  src/components/Combobox/ComboboxSuggestionList.tsx
  src/components/Combobox/ComboboxWrapper.ts
  src/components/Combobox/ComboboxWrapper.tsx
  src/components/Combobox/index.tsx
Due: eslint --fix

feat(ui): Make basic darkmode theme for the combobox
  src/components/Combobox/ComboboxSuggestion.tsx
  src/components/Combobox/ComboboxSuggestionList.tsx
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

refactor: Lot's of fixes for useCallbacks/memo
  src/components/Combobox/index.tsx
  src/lib/utils/throttle.ts
  src/lib/utils/useAsyncState.ts
  src/lib/utils/useThrottle.test.ts
  src/lib/utils/useThrottle.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

test: Make jest configuration more advanced, following examples
  __mocks__/fileMock.js
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: Fix immutableSpecs.test failing because of jsdom env
  src/lib/destination/immutableSpec.test.ts
Due: eslint --fix

test: Fix destination tests failing because of jsdom
  src/lib/destination/index.test.ts
Due: eslint --fix

chore(deps): Bump versions. (Next 11.1)
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(deps): Bump versions (downshift, @types/node)
  package-lock.json
  package.json
Due: prettier --write

chore: Add types to next.config.js!
  next.config.js
Due: eslint --fix

refactor: Make throttle a little less stupid
  src/lib/utils/throttle.test.ts
  src/lib/utils/throttle.ts
  src/lib/utils/useThrottle.test.ts
Due: eslint --fix

refactor: Increase throttling of suggestion API reuests slightly
  src/components/Combobox/index.tsx
Due: eslint --fix

fix: Fix useThrottle using incorrect signature
  src/lib/utils/useThrottle.ts
Due: eslint --fix

fix: Fix wrong syntax when calling `useThrottle`
  src/components/Combobox/index.tsx
Due: eslint --fix

fix(ui): Re-add the rule to hide the dropdown when it's empty
  src/components/Combobox/ComboboxSuggestionList.tsx
Due: eslint --fix

feat: ✨ Start building complicated version-sugestions
  src/lib/getAllVersions.ts
  src/lib/utils/headers.ts
  src/pages/api/versions.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

fix: Fix oopsie in autcomplete query
  src/pages/autocomplete.tsx
Due: eslint --fix

refactor: Try to break out the main autocomplete/suggestion code into /lib
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/autcompleteSize.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/index.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

refactor: Reorganize api code.
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/index.tsx
  src/lib/api/bundlephobia/BundlephobiaResponse.ts
  src/lib/api/bundlephobia/BundlephobiaResults.ts
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/bundlephobia/hasSideEffects.tsx
  src/lib/api/bundlephobia/index.ts
  src/lib/api/bundlephobia/isTreeShakeable.tsx
  src/lib/api/npms/Flags.ts
  src/lib/api/npms/NpmsApiUrl.ts
  src/lib/api/npms/Package.ts
  src/lib/api/npms/Result.ts
  src/lib/api/npms/Score.ts
  src/lib/api/npms/popularPackages.ts
  src/lib/api/npms/search.ts
  src/lib/api/npms/suggestions.ts
  src/lib/api/packagephobia/PackagephobiaResponse.ts
  src/lib/api/packagephobia/index.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/index.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/pages/[...parts].tsx
Due: eslint --fix

refactor: Move the pacote version-fetching into `lib/api`
  src/lib/api/versions/Version.ts
  src/lib/api/versions/getAllVersions.ts
  src/lib/api/versions/index.ts
  src/pages/api/versions.ts
Due: eslint --fix

refactor: Restructure code to have "versions" as a "provider" for autocomplete
  src/lib/autocomplete/index.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix

feat: Build basic version filtering in autocompelte
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix

chore: Bump node, npm, lockfile, deps
  package-lock.json
  package.json
Due: prettier --write

chore: bump subdeps
  package-lock.json
Due: prettier --write

Update caching
  .github/workflows/nodejs.yml
Due: prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
  src/theme.ts
Due: eslint --fix, prettier --write

feat: Set default glob in UI.
  src/components/Landing/index.tsx
  src/lib/default-diff-files.ts
  src/lib/query/index.ts
  src/pages/[...parts].tsx
Due: eslint --fix

feat(ui): Show what options are being used
  src/components/DiffIntro/Command.tsx
  src/components/DiffIntro/Options.tsx
  src/components/DiffIntro/index.tsx
  src/lib/DiffOptions.ts
  src/lib/query/index.ts
  src/lib/utils/trimUndefined.ts
  src/pages/[...parts].tsx
Due: eslint --fix

refactor(ui): Use shared component for the split view
  src/components/DiffIntro/Halfs.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.tsx
Due: eslint --fix

fix(ui): Use the same config for examples as input
  src/components/Landing/index.tsx
Due: eslint --fix

fix(test): Fix queryparsing test
  src/lib/query/index.test.ts
Due: eslint --fix

fix: typings
  src/components/Landing/ExamplesList.tsx
  src/components/Landing/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
