Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Preselect first value
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
Due: eslint --fix

Refactor b placeholder and filter
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Add spinner to indicate loading
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Fix main form focus and tooltip
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Unify theme imports
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/Diff/DiffFile/DiffFileHeader.tsx
  src/components/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/DiffIntro.tsx
  src/components/DiffIntro/Options.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/Header/APILink.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/Header.tsx
  src/components/Landing/ExamplesList.tsx
  src/components/Landing/Intro.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/theme/ButtonExpandBox.tsx
  src/components/theme/TooltipCode.tsx
  src/components/theme/index.ts
  src/pages/about/api.tsx
Due: eslint --fix

Unify usage of theme/tooltip
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/Header/GithubLink.tsx
  src/components/theme/ButtonExpandBox.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBoxHeader.tsx
  src/pages/about/api.tsx
Due: eslint --fix

Add arrow on tooltip
  src/components/theme/Tooltip.tsx
Due: eslint --fix

Use interfaces consistently
  src/components/theme/TooltipCode.tsx
Due: eslint --fix

Reintroduce the hover on examples to pre-fill inputs effect
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
Due: eslint --fix

Remove log in MainForm
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Fix errors when showing emptystate
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
Due: eslint --fix

Refactor version completion to allow semver ranges
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Re-fix deps on useThrottle
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/lib/hooks/useThrottle.test.ts
  src/lib/hooks/useThrottle.ts
Due: eslint --fix

Break autocompleting and throttling into useAutocomplete hook
  package-lock.json
  package.json
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.test.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/useAutocomplete.ts
  src/lib/hooks/useThrottle.test.ts
  src/lib/hooks/useThrottle.ts
  src/lib/utils/throttle.test.ts
  src/lib/utils/throttle.ts
Due: eslint --fix, prettier --write

Use `react-use/useUpdate`
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/hooks/useForceUpdate.ts
Due: eslint --fix

Use `react-use/useAsync()` and stop using my own
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/useAutocomplete.ts
  src/lib/hooks/useAsyncState.test.ts
  src/lib/hooks/useAsyncState.ts
Due: eslint --fix

Stop filling in placeholders.
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Use useCallback for the internal handle submit
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Refactor to use state and less refs
  package-lock.json
  package.json
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix, prettier --write

Remove some "generic" features of Combobox
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxButton.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxLabel.tsx
Due: eslint --fix

Remove unused `filterUntil` util
  src/lib/utils/filterUntil.test.ts
  src/lib/utils/filterUntil.ts
Due: eslint --fix

Big updates on react-diff-view types
  types/react-diff-view/Decoration.d.ts
  types/react-diff-view/Diff.d.ts
  types/react-diff-view/Hunk.d.ts
  types/react-diff-view/hocs.d.ts
  types/react-diff-view/hooks.d.ts
  types/react-diff-view/index.d.ts
  types/react-diff-view/package.json
  types/react-diff-view/tokenize.d.ts
  types/react-diff-view/utils.d.ts
  types/react-diff-view/utils/diff.d.ts
  types/react-diff-view/utils/index.d.ts
  types/react-diff-view/utils/parse.d.ts
Due: eslint --fix, prettier --write

Update react-diff-view types after passing linting.
  types/react-diff-view/Decoration.d.ts
  types/react-diff-view/Diff.d.ts
  types/react-diff-view/Hunk.d.ts
  types/react-diff-view/hocs.d.ts
  types/react-diff-view/hooks.d.ts
  types/react-diff-view/package-lock.json
  types/react-diff-view/package.json
  types/react-diff-view/tokenize.d.ts
  types/react-diff-view/tsconfig.json
  types/react-diff-view/utils/diff.d.ts
  types/react-diff-view/utils/parse.d.ts
Due: eslint --fix, prettier --write

Replace local type with `@types/` published
  package-lock.json
  package.json
Due: prettier --write

Remove local type
  types/react-diff-view/Decoration.d.ts
  types/react-diff-view/Diff.d.ts
  types/react-diff-view/Hunk.d.ts
  types/react-diff-view/hocs.d.ts
  types/react-diff-view/hooks.d.ts
  types/react-diff-view/index.d.ts
  types/react-diff-view/package-lock.json
  types/react-diff-view/package.json
  types/react-diff-view/tokenize.d.ts
  types/react-diff-view/tsconfig.json
  types/react-diff-view/utils/diff.d.ts
  types/react-diff-view/utils/index.d.ts
  types/react-diff-view/utils/parse.d.ts
Due: eslint --fix, prettier --write

Replace local type for validate-npm-package-name
  package-lock.json
  package.json
  types/validate-npm-package-name/index.d.ts
  types/validate-npm-package-name/package.json
Due: eslint --fix, prettier --write

chore(deps): Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Adjust diffs so that gitdiff-parser can parse them correctly
  src/lib/adjustDiff.ts
  src/pages/[...parts].tsx
Due: eslint --fix

Move DiffHunk into DiffFile
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/Diff/DiffFile/DiffHunk.tsx
Due: eslint --fix

Don't render deleted files
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/Diff/DiffFile/DiffPlaceholder.tsx
Due: eslint --fix

ForwardRef on DiffFile
  src/components/Diff/DiffFile/DiffFile.tsx
Due: eslint --fix

First implementation of virutal scrolling using react-cool-virtual
  package-lock.json
  package.json
  src/components/Diff/DiffFiles.tsx
Due: eslint --fix, prettier --write

Revert "First implementation of virutal scrolling using react-cool-virtual"
  package-lock.json
  package.json
  src/components/Diff/DiffFiles.tsx
Due: eslint --fix, prettier --write

chore(deps): Bump next packages
  package-lock.json
  package.json
Due: prettier --write

chore: Proper edge API for versions.
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
  src/lib/middleware/Middleware.ts
  src/lib/middleware/index.ts
  src/pages/api/_middleware.ts
  src/pages/api/versions.ts
Due: eslint --fix

Remove unused import
  src/pages/api/versions.ts
Due: eslint --fix

Rename query parameter to version endpoint to "package"
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/pages/api/versions.ts
Due: eslint --fix

Reduce JS size by only supporting modern browsers
  next.config.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
