Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Refactor publish date code, prepare for dates in autocomplete
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/api/-/versions/route.ts
  src/app/api/-/versions/types.ts
  src/lib/api/npm/getVersionData.ts
  src/lib/api/npm/publish-date.ts
Due: eslint --fix

Show time on hover
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
Due: eslint --fix

Show publication dates in autocomplete
  src/app/_page/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Print dates in the right timezone
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/components/ClientDate.tsx
Due: eslint --fix

Fix type error
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
Due: eslint --fix

Add publish dates under each package in the diff (#909)
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/[...parts]/_page/DiffIntro/SpecBox.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/app/api/-/versions/route.ts
  src/app/api/-/versions/types.ts
  src/components/ClientDate.tsx
  src/lib/api/npm/getVersionData.ts
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
  src/lib/suspense.tsx
Due: eslint --fix

Use suspense() helper!
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
  src/app/[...parts]/page.tsx
  src/lib/suspense.tsx
Due: eslint --fix

Fix package diff skeleton header being the wrong size
  src/app/[...parts]/_page/SizeComparison/SizeComparison.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparisonHeading.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparisonSkeleton.tsx
Due: eslint --fix

Use suspense() helper even more!
  src/app/[...parts]/_page/DiffIntro/SpecBox.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.skeleton.tsx
  src/app/[...parts]/_page/NpmDiff/index.tsx
  src/app/[...parts]/page.tsx
Due: eslint --fix

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Linting!
  src/app/[...parts]/_page/NpmDiff/NpmDiff.skeleton.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparison.tsx
  src/app/[...parts]/page.tsx
  src/components/ExternalLink.test.tsx
  src/components/ui/Tooltip.tsx
  src/lib/api/npm/getVersionData.ts
  src/lib/api/npm/packument.ts
  src/lib/destination/canonicalSpec.ts
  src/lib/query/parseQuery/trimUndefined.ts
  src/lib/utils/splitParts.test.ts
  src/lib/utils/splitParts.ts
Due: eslint --fix

Modify page to no longer do any redirection
  src/app/diff/[a]/[b]/page.tsx
Due: eslint --fix

Add destination api endpoint
  src/app/api/-/destination/route.ts
Due: eslint --fix

Small type fix
  src/app/api/-/destination/route.ts
  src/middleware.ts
Due: eslint --fix

Add middleware
  src/middleware.ts
Due: eslint --fix

Linting issue
  src/app/api/-/destination/route.ts
Due: eslint --fix

Use edge npm packages
  package-lock.json
  package.json
Due: prettier --write

Use edge npm packages
  package-lock.json
  package.json
  src/app/test-page/page.tsx
Due: eslint --fix, prettier --write

Fix tailwind config
  tailwind.config.ts
Due: eslint --fix

Fix nextjs debugging
  .vscode/launch.json
Due: prettier --write

Bump lint config
  package-lock.json
  package.json
Due: prettier --write

lint fix
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFiles.skeleton.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFiles.tsx
  src/app/_layout/Footer.tsx
  src/components/CollapsableBorderBox/CollapsableBorderBox.tsx
Due: eslint --fix

Use AbirtSignal.timeout() instead of promise.race()
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
  src/lib/api/TimedOut.ts
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Fix error for accessing key prop in PublishDate
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
Due: eslint --fix

Bump deps
  package-lock.json
  package.json
Due: prettier --write

Remove codeql config, thinking I can re-add it from uI
  .github/workflows/codeql.yml
Due: prettier --write

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: prettier --write

Check in updated next-env
  next-env.d.ts
Due: eslint --fix

Exclude codeql from prettier
  .prettierignore
  package.json
Due: prettier --write

Security patch
  package-lock.json
Due: prettier --write

Migrate to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update workflow
  .github/workflows/nodejs.yml
Due: prettier --write

Potential fix for code scanning alert no. 26: Workflow does not contain permissions
  .github/workflows/nodejs.yml
Due: prettier --write

Linting
  .github/workflows/nodejs.yml
Due: prettier --write

Potential fix for code scanning alert no. 26: Workflow does not contain permissions (#1015)
  .github/workflows/nodejs.yml
Due: prettier --write

Fix jest.setup to be more robust
  jest.setup.js
Due: eslint --fix

Don't prettier pnpm-lock
  .prettierignore
Due: none
