Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

Fix segment being encoded.
  src/app/[...parts]/page.tsx
  src/lib/decodeParts.ts
Due: eslint --fix

Rename diffView to page.client
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
Due: eslint --fix

Move errors from diff page to separate error
  src/app/[...parts]/_error/ErrorBox.tsx
  src/app/[...parts]/error.tsx
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
  src/next.ts
Due: eslint --fix

Convert external diff to use SERVER COMPONENTS 🤯
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
  src/app/[...parts]/_page/DiffIntro/SizeComparison.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
Due: eslint --fix

Try to fix bug where "parts=..." is added to the query in redirect
  src/app/[...parts]/page.tsx
Due: eslint --fix

Fix header not following when scrolling down
  src/components/Layout.tsx
Due: eslint --fix

stop prefetching viewtype split/unified
  src/app/[...parts]/_page/DiffIntro/ViewTypeSwitch.tsx
Due: eslint --fix

Make diffIntro non-reliant on files and diff result
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
  src/app/[...parts]/_page/NoDiff.tsx
  src/app/[...parts]/page.client.tsx
Due: eslint --fix

Be more consistent how to pass name/version
  src/app/[...parts]/_page/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/DiffFiles/DiffFile/DiffFileHeader.tsx
  src/app/[...parts]/_page/DiffFiles/DiffFiles.tsx
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
  src/app/[...parts]/_page/DiffIntro/ServiceLink.tsx
  src/app/[...parts]/_page/DiffIntro/ServiceLinks.tsx
  src/app/[...parts]/_page/DiffIntro/ServiceTooltip.tsx
  src/app/[...parts]/_page/DiffIntro/SizeComparison.tsx
  src/app/[...parts]/_page/DiffIntro/SpecBox.tsx
  src/app/[...parts]/_page/NoDiff.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
  src/components/Pkg.tsx
  src/lib/Services/Bundlephobia.ts
  src/lib/Services/Packagephobia.ts
  src/lib/Services/npmjs.com.ts
  src/lib/Services/unpkg.ts
  src/lib/SimplePackageSpec.ts
Due: eslint --fix

Refactor NpmDiff to happen in server component
  src/app/[...parts]/_page/NpmDiff/NpmDiff.client.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
Due: eslint --fix

Minor cleanup of diff page
  src/app/[...parts]/page.tsx
Due: eslint --fix

Use simplePackageSpec in place of ComparedPackage
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/DiffIntro/SizeComparison.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
Due: eslint --fix

Cleanup parsing to SimplePackageSpec a little
  src/app/[...parts]/page.tsx
  src/lib/parseSimplePackageSpec.ts
Due: eslint --fix

Move files used in NpmDiff into folder
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFileHeader.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffHunk.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffPlaceholder.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/index.ts
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFiles.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/index.ts
  src/app/[...parts]/_page/NpmDiff/NoDiff.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.client.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
Due: eslint --fix

Still support changing viewType
  src/app/[...parts]/_page/NpmDiff/NpmDiff.client.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
Due: eslint --fix

Ensure to cache diff
  src/lib/diff.ts
Due: eslint --fix

Cache canonicalSpec
  src/lib/destination/canonicalSpec.test.ts
  src/lib/destination/canonicalSpec.ts
Due: eslint --fix

Ensure all pages are static
  src/app/[...parts]/page.tsx
  src/app/about/api/page.tsx
  src/app/about/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix

Print timing inside cache
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/lib/diff.ts
Due: eslint --fix

Fix tests using React.cache()
  jest.setup.js
Due: eslint --fix

Make caching of methods a bit more default
  src/lib/destination/canonicalSpec.ts
  src/lib/diff.ts
Due: eslint --fix

Fix wrong import in test
  src/lib/destination/canonicalSpec.test.ts
Due: eslint --fix

Use method name in console.log
  src/lib/diff.ts
Due: eslint --fix

chore(deps): bump versions
  package-lock.json
  package.json
Due: prettier --write

Fix layout
  src/components/Layout.tsx
Due: eslint --fix

Add static/media to gitignore
  .gitignore
Due: none

chore(deps): Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix lint problem
  src/lib/Services/index.ts
Due: eslint --fix

Edge runtime is no longer experimental
  src/pages/api/versions.ts
Due: eslint --fix

Upgrade react-diff-view and adjust for typing
  package-lock.json
  package.json
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/Diff/DiffFile/DiffFileHeader.tsx
  src/components/Diff/DiffFiles.tsx
  src/components/DiffIntro/DiffIntro.tsx
  src/components/DiffIntro/ViewTypeSwitch.tsx
  src/pages/[...parts].tsx
  types/react-diff-view/Decoration.d.ts
  types/react-diff-view/Diff.d.ts
  types/react-diff-view/Hunk.d.ts
  types/react-diff-view/hocs.d.ts
  types/react-diff-view/hooks.d.ts
  types/react-diff-view/index.d.ts
  types/react-diff-view/package.json
  types/react-diff-view/tokenize.d.ts
  types/react-diff-view/tsconfig.json
  types/react-diff-view/utils/diff.d.ts
  types/react-diff-view/utils/index.d.ts
  types/react-diff-view/utils/parse.d.ts
Due: eslint --fix, prettier --write

chore(deps): Bump next.js
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump all versions that does not break app
  package-lock.json
  package.json
Due: prettier --write

External service components should not Throw errors.
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
Due: eslint --fix

Stop using edge-experimental for pages as it seems to break.
  src/app/about/page.tsx
  src/app/page.tsx
Due: eslint --fix

chore(deps): Bump next.js patch
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Update react-diff-view
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
