Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Catalog: only link homepages that are http(s) URLs
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/utils/toHttpUrl.test.ts
  src/lib/utils/toHttpUrl.ts
Due: eslint --fix

Catalog: look up versions in the catalog summary, without tags
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/api/packageVersions/packageVersions.test.ts
  src/lib/api/packageVersions/packageVersions.ts
Due: eslint --fix

Catalog: share one versions lookup with the publish date, trim link helpers
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/[...parts]/_page/catalog/CatalogPage.tsx
  src/app/[...parts]/_page/catalog/PackageMeta.test.tsx
  src/app/[...parts]/_page/catalog/PackageMeta.tsx
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/api/npm/packument.ts
  src/lib/api/packageVersions.test.ts
  src/lib/api/packageVersions.ts
  src/lib/api/packageVersions/publishTime.test.ts
  src/lib/api/packageVersions/publishTime.ts
  src/lib/utils/toHttpUrl.test.ts
  src/lib/utils/toHttpUrl.ts
Due: eslint --fix

Catalog: only show followable links, build the summary in one place
  src/app/[...parts]/_page/catalog/PackageMeta.test.tsx
  src/app/[...parts]/_page/catalog/PackageMeta.tsx
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
Due: eslint --fix

Catalog: treat a missing latest version as not found, keep npm-search on registry errors
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/api/npm/latestManifest.test.ts
  src/lib/api/npm/latestManifest.ts
  src/lib/api/packageVersions.test.ts
  src/lib/api/packageVersions.ts
Due: eslint --fix

Catalog: cache a trimmed package summary instead of the full packument; only link http(s) URLs (#1068)
  package.json
  pnpm-lock.yaml
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/[...parts]/_page/catalog/CatalogPage.tsx
  src/app/[...parts]/_page/catalog/PackageMeta.test.tsx
  src/app/[...parts]/_page/catalog/PackageMeta.tsx
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/api/npm/latestManifest.test.ts
  src/lib/api/npm/latestManifest.ts
  src/lib/api/npm/packument.ts
  src/lib/api/packageVersions.test.ts
  src/lib/api/packageVersions.ts
  src/lib/npmDiff/npmDiff.ts
  src/lib/utils/hasErrorCode.ts
Due: eslint --fix, prettier --write

Keep provenance errors from breaking the diff page; fetch per-version manifests
  src/app/-/about/source-trust/page.tsx
  src/app/[...parts]/_page/Sources/ProvenanceUnavailableCard.tsx
  src/app/[...parts]/_page/Sources/SourceCard/ProvenanceCard/ProvenanceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCompareButton/SourceCompareButton.tsx
  src/app/[...parts]/_page/Sources/Sources.tsx
  src/lib/api/npm/sourceInformation/auditSourceTrust.test.ts
  src/lib/api/npm/sourceInformation/auditSourceTrust.ts
  src/lib/api/npm/sourceInformation/fetchAttestationBundle.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.test.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.ts
  src/lib/api/npm/sourceInformation/hrefOnRepositoryHost.test.ts
  src/lib/api/npm/sourceInformation/hrefOnRepositoryHost.ts
  src/lib/api/npm/sourceInformation/index.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/builders/GitlabBuilderSlsaPredicate.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/slsaProvenanceV0_2.test.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/slsaProvenanceV0_2.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/buildDefinitions/githubActionsWorkflowBuildDefinition.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/slsaProvenanceV1.test.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/slsaProvenanceV1.ts
  src/lib/api/npm/sourceInformation/sourceInformation.ts
  src/lib/api/npm/versionManifest.test.ts
  src/lib/api/npm/versionManifest.ts
Due: eslint --fix

Share the manifest fetch with the catalog; cache provenance lookups per version
  src/app/-/about/source-trust/page.tsx
  src/app/[...parts]/_page/Sources/Sources.tsx
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/api/npm/latestManifest.test.ts
  src/lib/api/npm/manifest.test.ts
  src/lib/api/npm/manifest.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.test.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.ts
  src/lib/api/npm/versionManifest.test.ts
  src/lib/api/npm/versionManifest.ts
Due: eslint --fix

Check provenance links in the GitHub/GitLab parsers; drop the shared helper
  src/app/-/about/source-trust/page.tsx
  src/app/[...parts]/_page/Sources/NoProvenanceCard.tsx
  src/app/[...parts]/_page/Sources/ProvenanceUnavailableCard.tsx
  src/app/[...parts]/_page/Sources/Sources.tsx
  src/lib/api/npm/sourceInformation/auditSourceTrust.ts
  src/lib/api/npm/sourceInformation/hrefOnRepositoryHost.test.ts
  src/lib/api/npm/sourceInformation/hrefOnRepositoryHost.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/builders/GitlabBuilderSlsaPredicate.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/slsaProvenanceV0_2.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/buildDefinitions/githubActionsWorkflowBuildDefinition.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/buildDefinitions/index.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/slsaProvenanceV1.ts
  src/lib/api/npm/sourceInformation/sourceInformation.ts
Due: eslint --fix

Keep only the build summary host check on provenance links
  src/app/[...parts]/_page/Sources/SourceCard/ProvenanceCard/ProvenanceCard.tsx
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/builders/GitlabBuilderSlsaPredicate.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/slsaProvenanceV0_2.test.ts
  src/lib/api/npm/sourceInformation/sourceInformation.ts
Due: eslint --fix

Remove doc comments added in this PR
  src/app/[...parts]/_page/Sources/NoProvenanceCard.tsx
  src/lib/api/npm/manifest.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.ts
Due: eslint --fix

Use the ^/ alias for the user agent import
  src/lib/api/npm/sourceInformation/fetchAttestationBundle.ts
Due: eslint --fix

Handle a missing B once in auditSourceTrust
  src/lib/api/npm/sourceInformation/auditSourceTrust.ts
Due: eslint --fix

Show B's provenance card unless a finding explains it
  src/app/[...parts]/_page/Sources/Sources.tsx
Due: eslint --fix

Sources: keep provenance errors from breaking the diff page; fetch per-version manifests (#1069)
  src/app/-/about/source-trust/page.tsx
  src/app/[...parts]/_page/Sources/NoProvenanceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCard/ProvenanceCard/ProvenanceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCompareButton/SourceCompareButton.tsx
  src/app/[...parts]/_page/Sources/Sources.tsx
  src/lib/api/npm/catalogSummary.test.ts
  src/lib/api/npm/catalogSummary.ts
  src/lib/api/npm/latestManifest.test.ts
  src/lib/api/npm/manifest.test.ts
  src/lib/api/npm/manifest.ts
  src/lib/api/npm/sourceInformation/auditSourceTrust.test.ts
  src/lib/api/npm/sourceInformation/auditSourceTrust.ts
  src/lib/api/npm/sourceInformation/fetchAttestationBundle.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.test.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.ts
  src/lib/api/npm/sourceInformation/index.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/builders/GitlabBuilderSlsaPredicate.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/slsaProvenanceV0_2.test.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV0_2/slsaProvenanceV0_2.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/buildDefinitions/githubActionsWorkflowBuildDefinition.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/buildDefinitions/index.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/slsaProvenanceV1.test.ts
  src/lib/api/npm/sourceInformation/predicates/slsaProvenanceV1/slsaProvenanceV1.ts
  src/lib/api/npm/sourceInformation/sourceInformation.ts
Due: eslint --fix

Tidy dependencies: move jest to devDependencies, pin next-devtools-mcp, use stable @wrksz/themes
  .mcp.json
  .vscode/mcp.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Revert next-devtools-mcp pinning
  .mcp.json
  .vscode/mcp.json
Due: prettier --write

Dependency hygiene: jest to devDependencies, stable @wrksz/themes (#1070)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Validate diff input: cap glob patterns, clamp options, return 400/404 instead of 500
  package.json
  pnpm-lock.yaml
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
  src/app/page.client.tsx
  src/lib/destination/SpecNotFoundError.ts
  src/lib/destination/canonicalSpec.test.ts
  src/lib/destination/canonicalSpec.ts
  src/lib/destination/index.ts
  src/lib/query/index.ts
  src/lib/query/parseDiffOptions.test.ts
  src/lib/query/parseDiffOptions.ts
  src/lib/query/parseQuery/parseNumber.test.ts
  src/lib/query/parseQuery/parseNumber.ts
  src/lib/query/searchParams.test.ts
  src/lib/query/searchParams.ts
  src/lib/utils/isRegistryNotFoundError.test.ts
  src/lib/utils/isRegistryNotFoundError.ts
  src/lib/utils/parseParts.test.ts
  src/lib/utils/parseParts.ts
Due: eslint --fix, prettier --write

Simplify parseNumber to Number(str)
  src/lib/query/parseQuery/parseNumber.test.ts
  src/lib/query/parseQuery/parseNumber.ts
Due: eslint --fix

Revert "Simplify parseNumber to Number(str)"
  src/lib/query/parseQuery/parseNumber.test.ts
  src/lib/query/parseQuery/parseNumber.ts
Due: eslint --fix

Keep catalog pages for package names that are also semver ranges
  src/lib/utils/parseParts.test.ts
  src/lib/utils/parseParts.ts
Due: eslint --fix

Reject control characters in diffSrcPrefix/diffDstPrefix
  src/lib/query/parseDiffOptions.test.ts
  src/lib/query/parseDiffOptions.ts
Due: eslint --fix

Build fromSearchParams with Object.fromEntries
  src/lib/query/searchParams.test.ts
  src/lib/query/searchParams.ts
Due: eslint --fix

Use hasErrorCode instead of isRegistryNotFoundError
  src/lib/destination/canonicalSpec.ts
  src/lib/utils/isRegistryNotFoundError.test.ts
  src/lib/utils/isRegistryNotFoundError.ts
Due: eslint --fix

Restrict diffFiles globs to patterns that match in bounded time
  src/lib/query/parseDiffOptions.test.ts
  src/lib/query/parseDiffOptions.ts
Due: eslint --fix

Inline withViewType into ViewTypeButton
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
Due: eslint --fix

Fold toSearchParams into toSearchString
  src/lib/query/searchParams.test.ts
  src/lib/query/searchParams.ts
Due: eslint --fix

Trim parseDiffOptions: unexport unused names, early return in validatePrefix
  src/lib/query/parseDiffOptions.ts
Due: eslint --fix

Drop unused spec field from SpecNotFoundError
  src/lib/destination/SpecNotFoundError.ts
Due: eslint --fix

Validate diff input: restrict globs and options, return 400/404 instead of 500 (#1071)
  package.json
  pnpm-lock.yaml
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
  src/app/page.client.tsx
  src/lib/destination/SpecNotFoundError.ts
  src/lib/destination/canonicalSpec.test.ts
  src/lib/destination/canonicalSpec.ts
  src/lib/destination/index.ts
  src/lib/query/index.ts
  src/lib/query/parseDiffOptions.test.ts
  src/lib/query/parseDiffOptions.ts
  src/lib/query/parseQuery/parseNumber.test.ts
  src/lib/query/parseQuery/parseNumber.ts
  src/lib/query/searchParams.test.ts
  src/lib/query/searchParams.ts
  src/lib/utils/parseParts.test.ts
  src/lib/utils/parseParts.ts
Due: eslint --fix, prettier --write

Updates
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/nodejs.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
