Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Update vscode settings
  .vscode/settings.json
Due: prettier --write

Install and configure Vercel Speed Insights
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

Ignore local design reference material
  .gitignore
Due: none

Add Instrument dark theme tokens and restyle header
  src/app/_layout/Header/Header.tsx
  src/app/_layout/Header/LogoMark.tsx
  src/app/_layout/Header/MobileMenu.tsx
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix

Reorder diff page around trust-first information hierarchy
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
  src/app/[...parts]/_page/DiffIntro/DiffSummaryLine.tsx
  src/app/[...parts]/_page/DiffIntro/TitleActions.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/app/[...parts]/_page/PackageMetrics/MetricChip.tsx
  src/app/[...parts]/_page/PackageMetrics/MetricChipSkeleton.tsx
  src/app/[...parts]/_page/PackageMetrics/PackageMetrics.tsx
  src/app/[...parts]/_page/PackageMetrics/PackageMetricsDates.tsx
  src/app/[...parts]/_page/PackageMetrics/SizeChips.tsx
  src/app/[...parts]/_page/PackageMetrics/SizeChipsSkeleton.tsx
  src/app/[...parts]/_page/PackageMetrics/index.ts
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparison.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparisonHeading.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparisonSkeleton.tsx
  src/app/[...parts]/_page/SizeComparison/index.ts
  src/app/[...parts]/_page/formatReleaseDate.ts
  src/app/[...parts]/page.tsx
Due: eslint --fix

Rewrite split diff renderer for exact 50/50 alignment
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFileHeader.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffHunk.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffPlaceholder.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.css
  src/components/CollapsableBorderBox/CollapsableBorderBoxHeader.tsx
Due: eslint --fix

Unify Source & trust panel into three explicit states
  src/app/-/about/source-trust/page.tsx
  src/app/[...parts]/_page/DiffIntro/Halfs.tsx
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/[...parts]/_page/DiffIntro/ServiceLinks.tsx
  src/app/[...parts]/_page/DiffIntro/SpecBox.tsx
  src/app/[...parts]/_page/Sources/NeitherHasProvenance.tsx
  src/app/[...parts]/_page/Sources/NoProvenanceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCard/ProvenanceCard/ProvenanceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCard/SourceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCompareButton/CompareButton.tsx
  src/app/[...parts]/_page/Sources/SourceCompareButton/SourceCompareButton.tsx
  src/app/[...parts]/_page/Sources/Sources.tsx
  src/app/[...parts]/_page/Sources/TrustAuditFindings.tsx
  src/app/[...parts]/_page/Sources/TrustPanel/SignalRow.tsx
  src/app/[...parts]/_page/Sources/TrustPanel/TrustPanel.tsx
  src/app/[...parts]/_page/Sources/TrustPanel/TrustPanelSkeleton.tsx
  src/app/[...parts]/_page/Sources/TrustPanel/index.ts
  src/lib/api/npm/sourceInformation/auditSourceTrust.test.ts
  src/lib/api/npm/sourceInformation/auditSourceTrust.ts
  src/lib/api/npm/sourceInformation/getSourceFromManifest.ts
  src/lib/api/npm/sourceInformation/getSourceInformation.ts
  src/lib/api/npm/sourceInformation/index.ts
  src/lib/api/npm/sourceInformation/sourceInformation.ts
Due: eslint --fix

Restyle landing page: hero, form, examples, feature cards
  src/app/_page/ExamplesList.tsx
  src/app/_page/FeatureCards.tsx
  src/app/_page/Intro.tsx
  src/app/_page/MainForm/DiffButton.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/app/_page/NewFeatureSourceTrust.tsx
  src/app/_page/OptionsForm.tsx
  src/app/page.client.tsx
  src/app/page.tsx
  src/components/ui/ButtonExpandBox.tsx
Due: eslint --fix

Add sticky file index sidebar to the diff area
  src/app/[...parts]/_page/DiffIntro/Options.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFileHeader.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/FileIndex.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/Sparkline.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
Due: eslint --fix

Upgrade to pnpm 12
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update GitHub Actions pins
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/nodejs.yml
  pnpm-lock.yaml
Due: prettier --write

Update dependencies and clean up workspace config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Remove dependabot.yml
  .github/dependabot.yml
Due: prettier --write

Add pnpm and code-comment sections to AGENTS.md; de-symlink CLAUDE.md
  .claude/CLAUDE.md
  AGENTS.md
Due: prettier --write

Trim AGENTS.md for modern coding agents
  AGENTS.md
Due: prettier --write

Fix build crash from undefined entries in npm search results
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
Due: eslint --fix

Reduce CPU waste: lower timeout, validate inputs, add crawl delay
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
  src/app/robots.ts
Due: eslint --fix

Cache npmDiff results in Vercel Runtime Cache
  src/app/-/about/api/page.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/app/api/[...parts]/route.ts
  src/lib/npmDiff/Error.ts
  src/lib/npmDiff/index.ts
  src/lib/npmDiff/npmDiff.ts
Due: eslint --fix

Use Data Cache for bundlephobia and packagephobia fetches
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Add spec validation to API route; use shorter negative cache
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
  src/lib/npmDiff/npmDiff.ts
  src/lib/utils/validateSpecs.ts
Due: eslint --fix

Switch *phobia API clients to remote cache
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Allowlist spec types and remove unreachable code
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/utils/validateSpecs.ts
Due: eslint --fix

Restore helpful comments
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Rename NpmDiffError file to match the type it defines
  src/lib/npmDiff/NpmDiffError.ts
  src/lib/npmDiff/index.ts
  src/lib/npmDiff/npmDiff.ts
Due: eslint --fix

Recursively validate alias sub specs
  src/lib/utils/validateSpecs.ts
Due: eslint --fix

Reduce Fluid Active CPU usage (#1063)
  src/app/-/about/api/page.tsx
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
  src/app/robots.ts
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/npmDiff/Error.ts
  src/lib/npmDiff/NpmDiffError.ts
  src/lib/npmDiff/index.ts
  src/lib/npmDiff/npmDiff.ts
  src/lib/utils/validateSpecs.ts
Due: eslint --fix

Update npm ecosystem packages to latest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update npm ecosystem packages to latest (#1046)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Replace hand-rolled packument with pacote.packument
  src/lib/api/npm/packument.ts
Due: eslint --fix

Disable pacote disk cache for packument fetches
  src/lib/api/npm/packument.ts
Due: eslint --fix

Replace hand-rolled packument with pacote.packument (#1064)
  src/lib/api/npm/packument.ts
Due: eslint --fix

Updates
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Remove now unused postcss override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fix SizeComparison hover background not filling link area
  src/app/[...parts]/_page/SizeComparison/SizeComparison.tsx
Due: eslint --fix

Fix invalid URLs crashing instead of showing 404
  src/app/[...parts]/page.tsx
  src/app/not-found.tsx
Due: eslint --fix

Updates
  .github/workflows/codeql.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Replace npms.io search with Algolia's npm-search index
  .env.example
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/api/npmSearch/NpmSearchHit.ts
  src/lib/api/npmSearch/algoliaConfig.ts
  src/lib/api/npmSearch/client.ts
  src/lib/api/npmSearch/popularPackages.ts
  src/lib/api/npmSearch/suggestions.ts
  src/lib/api/npms/Flags.ts
  src/lib/api/npms/NpmsApiUrl.ts
  src/lib/api/npms/Package.ts
  src/lib/api/npms/Result.ts
  src/lib/api/npms/Score.ts
  src/lib/api/npms/popularPackages.ts
  src/lib/api/npms/search.ts
  src/lib/api/npms/suggestions.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/packageSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
Due: eslint --fix, prettier --write

Rewrite algoliaConfig.ts for comfort
  src/lib/api/npmSearch/AlgoliaConfig.ts
  src/lib/api/npmSearch/algoliaConfig.ts
  src/lib/api/npmSearch/client.ts
Due: eslint --fix

Rewrite client for much improved structure
  src/lib/api/npmSearch/AlgoliaConfig.ts
  src/lib/api/npmSearch/client.ts
Due: eslint --fix

Fetch package version lists directly from Algolia in the browser
  src/app/api/-/versions/route.ts
  src/app/api/-/versions/types.ts
  src/lib/api/npm/VersionData.ts
  src/lib/api/npm/buildVersionMap.test.ts
  src/lib/api/npm/buildVersionMap.ts
  src/lib/api/npm/getVersionData.ts
  src/lib/api/npmSearch/NpmSearchHit.ts
  src/lib/api/npmSearch/versions.test.ts
  src/lib/api/npmSearch/versions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix
