Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Remove unused lintstaged config
  .lintstagedrc.json
Due: prettier --write

Update to next15
  .eslintrc.json
  eslint.config.mjs
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

Ok enough dependabot spam
  .github/dependabot.yml
Due: prettier --write

Don't show results from inside .next types output folder
  .vscode/settings.json
Due: prettier --write

Fixes to align with Next 15 changes
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
  src/app/layout.tsx
  src/lib/suspense.tsx
  src/lib/utils/useThrottle.ts
Due: eslint --fix

Add User-agent to packagephobia requests
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/api/user-agent.ts
Due: eslint --fix

Fix tooltip going from uncontrolled to controlled state which is not allowed
  src/app/_page/MainForm/DiffButton.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/components/ui/Tooltip.tsx
Due: eslint --fix

Updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

Set es2018 as target to make regex work?
  tsconfig.json
Due: prettier --write

Add nextjs mcp
  .vscode/mcp.json
Due: prettier --write

Replace npm in some leftover places
  README.md
  package.json
Due: prettier --write

Improve caching strategy in getVersionData: enforce no-store for packument response and set revalidation for unstable cache
  src/lib/api/npm/getVersionData.ts
Due: eslint --fix

Updates
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ThemeProvider.tsx
Due: eslint --fix, prettier --write

Another leftover npm command that should be pnpm
  package.json
Due: prettier --write

Upgrade prettier to v3.7
  package.json
  pnpm-lock.yaml
Due: prettier --write

Reformat code to align with prettier@3.7
  src/app/[...parts]/_page/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/app/[...parts]/_page/ServiceIcon.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxInput.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/app/_page/OptionsForm.tsx
  src/app/api/-/README.md
  src/components/ExternalLink.tsx
  src/components/ui/Button.tsx
  src/components/ui/Code.tsx
  src/components/ui/Input.tsx
  src/components/ui/Stack.tsx
  src/components/ui/Tooltip.tsx
Due: eslint --fix, prettier --write

Add .git-blame-ignore-revs to exclude formatting changes from blame
  .git-blame-ignore-revs
Due: none

Automated migration to next@16
  next-env.d.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

Update config to v16
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Remove now unecessary override
  package.json
  pnpm-lock.yaml
Due: prettier --write

Convert postcss.config to mjs to avoid lint error
  postcss.config.mjs
Due: none

Update pnpm-workspace
  pnpm-workspace.yaml
Due: prettier --write

Update to pnpm 10.26
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fix types missing in type files
  tsconfig.json
Due: prettier --write

Fix some type issues in test files
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/destination/index.test.ts
Due: eslint --fix

Disable incremental in tsconfig.json
  tsconfig.json
Due: prettier --write

Remove next-env.d.t.s
  next-env.d.ts
Due: eslint --fix

Add next-env.d.ts to .gitignore
  .gitignore
Due: none

Add type checking step to CI workflow and update type-check script
  .github/workflows/nodejs.yml
  package.json
Due: prettier --write

Rename typecheck script
  .github/workflows/nodejs.yml
  package.json
Due: prettier --write

Revert "Add next-env.d.ts to .gitignore"
  .gitignore
Due: none

Revert "Remove next-env.d.t.s"
  next-env.d.ts
Due: eslint --fix

Fix failing tests
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Disable all rules that causes lint errors, to be enabled 1-by-1
  eslint.config.mjs
Due: none

Add copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: prettier --write

Enable and fix all finds of `@typescript-eslint/no-explicit-any`
  eslint.config.mjs
  src/lib/api/npm/packument.ts
  src/lib/npmDiff/npmDiff.ts
  src/lib/suspense.tsx
  src/lib/utils/arrayEquals.ts
  src/lib/utils/useThrottle.ts
Due: eslint --fix

Enable and fix all finds of `no-var`
  eslint.config.mjs
  src/lib/utils/arrayEquals.ts
Due: eslint --fix

Enable and fix all finds of `prefer-const`
  eslint.config.mjs
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
  src/lib/utils/countChanges.ts
Due: eslint --fix

Enable and fix all finds of `@typescript-eslint/no-unused-vars`
  eslint.config.mjs
  src/app/_page/MainForm/MainForm.tsx
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix
