Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Run more codeql scanning
  .github/workflows/codeql.yml
Due: prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions
  .github/workflows/nodejs.yml
  package-lock.json
  package.json
Due: prettier --write

chore: Stop spam from lint-staged
  package.json
Due: prettier --write

Refactor autocomplete and update downshift
  package-lock.json
  package.json
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.test.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/index.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/AutocompleteSuggestionTypes.ts
Due: eslint --fix, prettier --write

Break out combobox into separate hook
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/npm-combobox/useNpmCombobox.ts
Due: eslint --fix

Handle errors when loading autocomplete (fixes #695)
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Refactor combobox (hooks) (#641)
  package-lock.json
  package.json
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.test.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/index.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/AutocompleteSuggestionTypes.ts
  src/lib/npm-combobox/useNpmCombobox.ts
Due: eslint --fix, prettier --write

So if you use arrays you need to have keys, i forgot
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

chore: Avoid accidental rendering
  .eslintrc.json
  src/components/Diff/DiffFile/DiffPlaceholder.tsx
  src/components/DiffIntro/DiffIntro.tsx
  src/components/DiffIntro/Options.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/components/theme/ButtonExpandBox.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBox.tsx
Due: eslint --fix, prettier --write

Remove deprecated legacy browser option
  next.config.js
Due: eslint --fix

Remove deprecated layout property
  src/components/ServiceIcon.tsx
Due: eslint --fix

Enable legacy behaviour to make NextLinks work
  src/components/theme/NextLink.tsx
Due: eslint --fix

Remove deprecated options from the config file
  next.config.js
Due: eslint --fix

Bump next.js patch version
  package-lock.json
  package.json
Due: prettier --write

Cleanup package-lock
  package-lock.json
Due: prettier --write

Update next.js typescript configuration
  .vscode/settings.json
  tsconfig.json
Due: prettier --write

Commit stable package-lock file
  package-lock.json
Due: prettier --write

chore(deps): Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Use chakra team instead of wrapper-component
  src/components/Diff/DiffFile/DiffFileHeader.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/theme/ButtonExpandBox.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBoxHeader.tsx
  src/components/theme/Tooltip.tsx
  src/components/theme/index.ts
  src/pages/about/api.tsx
  src/theme.ts
Due: eslint --fix

Use less hooks for darkmode stuff
  src/components/Diff/DiffFile/DiffHunk.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/ErrorBox.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/Title.tsx
  src/components/Layout.tsx
  src/components/theme/TooltipCode.tsx
  src/theme.ts
Due: eslint --fix

Revert "Use chakra team instead of wrapper-component"
  src/components/Diff/DiffFile/DiffFileHeader.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/theme/ButtonExpandBox.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBoxHeader.tsx
  src/components/theme/Tooltip.tsx
  src/components/theme/index.ts
  src/pages/about/api.tsx
  src/theme.ts
Due: eslint --fix

Move stylings from wrapper to theme
  src/components/theme/Tooltip.tsx
  src/theme.ts
Due: eslint --fix

Flip color mode in tooltips
  src/components/Diff/DiffFile/DiffFileHeader.tsx
  src/components/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/theme/FlipColorMode.tsx
  src/components/theme/Tooltip.tsx
  src/components/theme/TooltipCode.tsx
  src/components/theme/index.ts
Due: eslint --fix

Re-enable react strict mode. It was disabled to use react-virtual
  next.config.js
Due: eslint --fix

Increase timeout for some tests that can take a little while when not cached
  src/lib/destination/canonicalSpec.test.ts
Due: eslint --fix

Remove border between inputs in MainForm
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Should still have border on smaller screens
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Let's disable extended codeql
  .github/workflows/codeql.yml
Due: prettier --write

Index file does not have to be tsx
  src/components/Landing/MainForm/SpecInput/Combobox/index.ts
Due: eslint --fix

Try to see if this fixes the various pre-loading issues.
  src/middleware.ts
Due: eslint --fix

Revert "Don't prefetch about/api pages"
  src/components/Header/NavLink.tsx
Due: eslint --fix

Fix about not appearing as active in header
  src/components/Header/NavLink.tsx
Due: eslint --fix

remove dummy page, not needed anymore
  src/app/dummy/page.tsx
Due: eslint --fix

Migrate app/document into layout.tsx
  src/app/config.tsx
  src/app/layout.tsx
Due: eslint --fix

Add dummy app dir page
  src/app/dummy/page.tsx
  src/app/layout.tsx
Due: eslint --fix

Enable appDir in next configuration
  next.config.js
Due: eslint --fix
