Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use exported types from react-diff-view
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/Diff/DiffFiles.tsx
  src/components/DiffIntro/DiffIntro.tsx
  src/components/DiffIntro/ViewTypeSwitch.tsx
  src/pages/[...parts].tsx
Due: eslint --fix

Upgrade react-diff-view and adjust for typing
  package-lock.json
  package.json
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFileHeader.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFiles.tsx
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
  types/react-diff-view/Decoration.d.ts
  types/react-diff-view/Diff.d.ts
  types/react-diff-view/Hunk.d.ts
  types/react-diff-view/hocs.d.ts
  types/react-diff-view/hooks.d.ts
  types/react-diff-view/index.d.ts
  types/react-diff-view/package.json
  types/react-diff-view/tokenize.d.ts
  types/react-diff-view/tsconfig.json
  types/react-diff-view/utils/diff.d.ts
  types/react-diff-view/utils/index.d.ts
  types/react-diff-view/utils/parse.d.ts
Due: eslint --fix, prettier --write

chore(deps): Update react-diff-view
  package-lock.json
  package.json
Due: prettier --write

Use exported types from react-diff-view
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFiles.tsx
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
Due: eslint --fix

Fix build failing because missing diff parser
  package-lock.json
  package.json
  src/app/[...parts]/_page/NpmDiff/NpmDiff.tsx
Due: eslint --fix, prettier --write

Fix type failings
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
Due: eslint --fix

fix: remove unwanted vertical scroll
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/Header.tsx
  src/components/Layout.tsx
Due: eslint --fix

fix: remove unwanted vertical scroll
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/app/_layout/Header/Header.tsx
  src/app/layout.client.tsx
Due: eslint --fix

Bump npm-package-arg in package.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump next to 13.1
  package-lock.json
  package.json
Due: prettier --write

Edge runtime is no longer experimental
  src/pages/api/versions.ts
Due: eslint --fix

Setup params for statically generated diff pages
  src/app/[...parts]/page.tsx
Due: eslint --fix

chore(deps): Bump next.js to latest version
  package-lock.json
  package.json
Due: prettier --write

Checkin automatic update to env.d.ts
  next-env.d.ts
Due: eslint --fix

Fix type issues with updated searchParams
  src/app/[...parts]/_page/NpmDiff/NpmDiff.client.tsx
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
Due: eslint --fix

chore(deps): Bump all versions that are safe
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump all versions except typescript
  package-lock.json
  package.json
Due: prettier --write

chore: Remove wrong param
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

chore(deps): Bump typescript!
  package-lock.json
  package.json
Due: prettier --write

chode(deps): Bump some safer deps
  package-lock.json
  package.json
Due: prettier --write

chore: Remove wrong param
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

chore(deps): Bump all versions except Next
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump next.js
  package-lock.json
  package.json
Due: prettier --write

Use npm-package-arg as external package to allow build
  next.config.js
Due: eslint --fix

chore(deps): Bump all sub-dependencies
  package-lock.json
Due: prettier --write

Remove workaround. (vercel/next.js#47930)
  src/app/[...parts]/page.tsx
Due: eslint --fix

Just supress the hydration warnings for theme
  src/app/layout.tsx
Due: eslint --fix

Migrate metadata to new file based metadata
  public/favicon-16x16.png
  public/favicon-32x32.png
  src/app/[...parts]/error.tsx
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
  src/app/about/api/page.client.tsx
  src/app/about/api/page.tsx
  src/app/about/page.client.tsx
  src/app/about/page.tsx
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.png
  src/app/layout.tsx
  src/app/page.client.tsx
  src/lib/metaData/MetaData.tsx
  src/lib/metaData/defaultMetaData.ts
  src/lib/metaData/index.ts
  src/lib/metaData/metaDataUtil.ts
  src/lib/metaData/useMetaData.ts
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

Add vercel analytics
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

stop sending unecessary requests and getting error to bundlephobia
  src/lib/api/bundlephobia/bundlephobia.ts
Due: eslint --fix

Add analytics
  package-lock.json
  package.json
  src/app/layout.client.tsx
Due: eslint --fix, prettier --write

Restructure diff page to investigate suspenses
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
  src/app/[...parts]/page.client.tsx
  src/app/[...parts]/page.tsx
Due: eslint --fix

Pass compiled styles from server to client.
  package-lock.json
  package.json
  src/app/layout.client.tsx
  src/app/layout.tsx
Due: eslint --fix, prettier --write

Disable analytics when running locally
  src/app/layout.client.tsx
Due: eslint --fix

Update launch script to match Next.js Documentation
  .vscode/launch.json
Due: prettier --write

Update diff method to actually cache.
  src/lib/diff.ts
Due: eslint --fix

Disable analytics when running locally
  src/pages/_app.tsx
Due: eslint --fix

Add first stab at skeleton for packagephobia diff
  src/app/[...parts]/_page/BundlephobiaDiff.tsx
  src/app/[...parts]/_page/DiffIntro/Halfs.tsx
  src/app/[...parts]/_page/PackagephobiaDiff.tsx
  src/app/[...parts]/_page/SizeComparison.tsx
  src/app/[...parts]/_page/SizeComparisonSkeleton.tsx
  src/app/[...parts]/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
