Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: lint files
  pages/api/users/[id].ts
  pages/api/users/index.ts
  pages/users/[id].tsx
  pages/users/index.tsx
Due: eslint --fix

chore(env): Configure vscode
  .vscode/settings.json
Due: prettier --write

feat: init basic file comp
  .vscode/settings.json
  components/Layout.tsx
  components/List.tsx
  components/ListDetail.tsx
  components/ListItem.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/about.tsx
  pages/api/users/[id].ts
  pages/api/users/index.ts
  pages/diff.tsx
  pages/index.tsx
  pages/users/[id].tsx
  pages/users/index.tsx
  server/index.ts
  tsconfig.server.json
  types/react-diff-view/index.d.ts
  types/react-diff-view/package.json
  types/unidiff/index.d.ts
  types/unidiff/package.json
  utils/sample-api.ts
  utils/sample-data.ts
Due: eslint --fix, prettier --write

ci: Try to add now.json to configure routes
  now.json
Due: prettier --write

ci: Remove $schema from now.json
  now.json
Due: prettier --write

ci: try adding trailingSlash: true
  now.json
Due: prettier --write

feat: modify to support expected package behaviour
  components/Layout.tsx
  components/icons/github.tsx
  now.json
  package-lock.json
  package.json
  pages/[...slugs].tsx
  pages/index.tsx
  public/favicon.ico
  server/index.ts
  tsconfig.server.json
Due: eslint --fix, prettier --write

feat: add stupid redirection
  pages/[...slugs].tsx
Due: eslint --fix

fix: Add doc lang to html
  pages/_document.tsx
Due: eslint --fix

fix: add title to github link
  components/Layout.tsx
  components/icons/github.tsx
Due: eslint --fix

chore: Move code into src directory
  src/components/Layout.tsx
  src/components/icons/github.tsx
  src/pages/[...slugs].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --fix

chore(typescript): Remove annoying noUnused typescript rules
  tsconfig.json
Due: prettier --write

feat: Actually fetch and unpack tarball! 😁
  package-lock.json
  package.json
  src/interfaces/NpmManifest.ts
  src/pages/[...slugs].tsx
  src/util/getPkgDetails.ts
  src/util/npm-api.ts
  src/util/npm-parser.ts
  types/gunzip-maybe/index.d.ts
  types/gunzip-maybe/package.json
Due: eslint --fix, prettier --write

feat: show very simple diffs 📦🔃
  src/pages/[...slugs].tsx
  src/util/getDiff.ts
Due: eslint --fix

docs: Update README
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: add dependabot configuration
  .dependabot/config.yml
Due: prettier --write

docs: Add dependabot badge
  README.md
Due: prettier --write

chore(deps): Bump remaining versions
  package-lock.json
  package.json
Due: prettier --write

feat: feeble attempt at adding decoration around diffs
  src/pages/[...slugs].tsx
  src/util/getDiff.ts
  types/react-diff-view/index.d.ts
Due: eslint --fix

feat: Use react-diff-viewer instead of react-diff-view
  package-lock.json
  package.json
  src/pages/[...slugs].tsx
  src/pages/_app.tsx
  src/styles.css
  src/util/getDiff.ts
  types/react-diff-view/index.d.ts
  types/react-diff-view/package.json
  types/unidiff/index.d.ts
  types/unidiff/package.json
Due: eslint --fix, prettier --write

chore: move code out of src to see if deploy summary works
  components/Layout.tsx
  components/icons/github.tsx
  interfaces/NpmManifest.ts
  interfaces/index.ts
  pages/[...slugs].tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  styles.css
  util/getPkgDetails.ts
  util/npm-api.ts
  util/npm-parser.ts
Due: eslint --fix

ci: Add github actions for linting and building
  .github/workflows/nodejs.yml
Due: prettier --write

ci: use latest nodejs
  .github/workflows/nodejs.yml
Due: prettier --write

ci: Specify to use node 13.x
  .github/workflows/nodejs.yml
Due: prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

style: Fix lint after prettier update
  src/util/npm-api.ts
Due: eslint --fix

chore(deps): Bump subversions
  package-lock.json
Due: prettier --write

fix: Handle scoped packages as expected
  src/pages/[...slugs].tsx
Due: eslint --fix

fix: remove console.log
  src/pages/[...slugs].tsx
Due: eslint --fix

style: Rename "slugs" to "parts"
  src/pages/[...parts].tsx
Due: eslint --fix

docs: Add badge to readme.md
  README.md
Due: prettier --write

refactor: stop using gunzip-maybe
  package-lock.json
  package.json
  src/util/npm-api.ts
  types/gunzip-maybe/index.d.ts
  types/gunzip-maybe/package.json
Due: eslint --fix, prettier --write

chore(deps): Bump subdependencies
  package-lock.json
Due: prettier --write

ci(actions): Cache next.js build cache
  .github/workflows/nodejs.yml
Due: prettier --write

fix(syntax): Override typescript failings
  src/pages/[...parts].tsx
Due: eslint --fix

chore: configure src/ to be baseUrl of tsproject
  src/pages/[...parts].tsx
  src/pages/index.tsx
  src/util/getPkgDetails.ts
  src/util/npm-api.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
