Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore: Get rid of jest-watch-typeahead
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: Some cleanup of the test configuration
  __mocks__/styleMock.js
  jest.config.js
  src/lib/destination/immutableSpec.test.ts
  src/lib/destination/index.test.ts
  src/lib/utils/useAsyncState.test.ts
  src/lib/utils/useThrottle.test.ts
Due: eslint --fix

chore: stop trying to be too clever
  jest.config.js
Due: eslint --fix

chore: gitignore coverage folder
  .gitignore
Due: none

test: Restructure testing setup.
  .gitignore
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: Restructure api code
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/index.tsx
  src/lib/api/bundlephobia/BundlephobiaResponse.ts
  src/lib/api/bundlephobia/BundlephobiaResults.ts
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/bundlephobia/hasSideEffects.tsx
  src/lib/api/bundlephobia/index.ts
  src/lib/api/bundlephobia/isTreeShakeable.tsx
  src/lib/api/packagephobia/PackagephobiaResponse.ts
  src/lib/api/packagephobia/PackagephobiaResult.ts
  src/lib/api/packagephobia/PackagephobiaSize.ts
  src/lib/api/packagephobia/index.ts
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/utils/headers.ts
  src/lib/utils/setCacheControl.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

chore: Let's try using a path instead of baseUrl src
  src/components/Diff/DiffFile/index.tsx
  src/components/Diff/DiffHunk.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/Command.tsx
  src/components/DiffIntro/Options.tsx
  src/components/DiffIntro/ServiceLink.tsx
  src/components/DiffIntro/ServiceLinks.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.tsx
  src/components/Header/APILink.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Landing/ExamplesList.tsx
  src/components/Landing/Intro.tsx
  src/components/Landing/index.tsx
  src/components/Layout.tsx
  src/components/ServiceTooltip.tsx
  src/lib/destination/index.ts
  src/lib/query/index.ts
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about/api.tsx
  src/pages/api/[...parts].ts
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

style: Add linting for imports
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

style: Update imports to match linting rules
  src/components/Diff/DiffFile/index.tsx
  src/components/Diff/DiffHunk.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/Command.tsx
  src/components/DiffIntro/Halfs.tsx
  src/components/DiffIntro/ServiceIcon.tsx
  src/components/DiffIntro/ServiceLink.tsx
  src/components/DiffIntro/ServiceLinks.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.tsx
  src/components/Header/APILink.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Landing/ExamplesList.tsx
  src/components/Landing/index.tsx
  src/components/Layout.tsx
  src/components/theme/BorderBox.tsx
  src/components/theme/Tooltip.tsx
  src/pages/[...parts].tsx
  src/pages/about/api.tsx
  src/pages/api/[...parts].ts
  src/pages/index.tsx
Due: eslint --fix

style: Add linting for writing better tests
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

test: Fix tests to match linting
  src/lib/destination/immutableSpec.test.ts
  src/lib/destination/index.test.ts
  src/lib/query/parseBoolean.test.ts
Due: eslint --fix

test: fix jest.config.js to work with updated typescript structure
  jest.config.js
Due: eslint --fix

style: FIx all lint problems
  src/components/Combobox/index.tsx
  src/lib/api/npms/suggestions.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/lib/utils/useAsyncState.test.ts
  src/lib/utils/useAsyncState.ts
  src/lib/utils/useThrottle.test.ts
  src/pages/api/versions.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

style: Slight restructure of Combobox component
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/ComboboxWrapper.tsx
  src/components/Combobox/index.tsx
Due: eslint --fix

refactor: Move hooks into hooks directory.
  src/components/Combobox/Combobox.tsx
  src/lib/hooks/useAsyncState.test.ts
  src/lib/hooks/useAsyncState.ts
  src/lib/hooks/useThrottle.test.ts
  src/lib/hooks/useThrottle.ts
Due: eslint --fix

refactor: Restructure code to separate more
  src/lib/query/QueryParams.ts
  src/lib/query/index.ts
  src/lib/query/parseQuery/index.ts
  src/lib/query/parseQuery/parseBoolean.test.ts
  src/lib/query/parseQuery/parseBoolean.ts
  src/lib/query/parseQuery/parseNumber.test.ts
  src/lib/query/parseQuery/parseNumber.ts
  src/lib/query/parseQuery/parseQuery.test.ts
  src/lib/query/parseQuery/parseQuery.ts
  src/lib/query/parseQuery/parseString.test.ts
  src/lib/query/parseQuery/parseString.ts
  src/lib/query/parseQuery/trimUndefined.ts
  src/lib/query/rawQuery.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

chore: Using a dash instead of underline is nicer I think
  jest.config.js
  src/components/Diff/DiffFile/index.tsx
  src/components/Diff/DiffHunk.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/Command.tsx
  src/components/DiffIntro/Options.tsx
  src/components/DiffIntro/ServiceLink.tsx
  src/components/DiffIntro/ServiceLinks.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.tsx
  src/components/Header/APILink.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Landing/ExamplesList.tsx
  src/components/Landing/Intro.tsx
  src/components/Landing/index.tsx
  src/components/ServiceTooltip.tsx
  src/lib/destination/index.ts
  src/lib/query/index.ts
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about/api.tsx
  src/pages/api/[...parts].ts
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

fix eslint config
  .eslintrc.json
Due: prettier --write

Update import paths
  src/components/Combobox/Combobox.tsx
  src/lib/api/npms/suggestions.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/lib/query/parseQuery/parseQuery.ts
  src/pages/api/versions.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

fix: broken import
  src/pages/api/[...parts].ts
Due: eslint --fix

feat(autocomplet): Higlight match in suggestions
  src/components/Combobox/Combobox.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

refactor(autocomplete): Suggestion mini-comp
  src/pages/autocomplete.tsx
Due: eslint --fix

feat(autocomplete): Keep searching after selecting package
  src/components/Combobox/Combobox.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/pages/autocomplete.tsx
Due: eslint --fix

perf(autocomplete): Stop filtering after finding enough hits
  src/lib/api/versions/Version.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/utils/filterUntil.test.ts
  src/lib/utils/filterUntil.ts
Due: eslint --fix

feat(autocomplet): Highlighting when version-suggesting
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix

feat(autocomplete): Implement autocomplete on actual page!
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/ComboboxBox.tsx
  src/components/Combobox/ComboboxButton.tsx
  src/components/Combobox/ComboboxInput.tsx
  src/components/Combobox/ComboboxSuggestionList.tsx
  src/components/Landing/MainForm/index.tsx
  src/lib/contexts/FallbackSuggestions.ts
  src/pages/index.tsx
Due: eslint --fix

chore: Delete dummy autocomplete page
  src/pages/autocomplete.tsx
Due: eslint --fix

chore: Let's use `^` for local modules instead.
  .eslintrc.json
  jest.config.js
  src/components/Diff/DiffFile/index.tsx
  src/components/Diff/DiffHunk.tsx
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/Command.tsx
  src/components/DiffIntro/Options.tsx
  src/components/DiffIntro/ServiceLink.tsx
  src/components/DiffIntro/ServiceLinks.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.tsx
  src/components/Header/APILink.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Landing/ExamplesList.tsx
  src/components/Landing/Intro.tsx
  src/components/Landing/index.tsx
  src/components/ServiceTooltip.tsx
  src/lib/destination/index.ts
  src/lib/query/index.ts
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about/api.tsx
  src/pages/api/[...parts].ts
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore: Rename PR files
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/index.tsx
  src/lib/api/npms/suggestions.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/lib/contexts/FallbackSuggestions.ts
  src/lib/query/parseQuery/parseQuery.ts
  src/pages/api/versions.ts
Due: eslint --fix

chore: Remove appendix that went unused
  src/components/Landing/MainForm/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
