Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

Use svh instead of 100vh div
  package-lock.json
  package.json
  src/app/layout.client.tsx
  src/theme.ts
Due: eslint --fix, prettier --write

Fix border rounding when opening autocomplete on smaller screens
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxInput.tsx
Due: eslint --fix

Skip unecessary ? when redirecting
  src/app/[...parts]/page.tsx
Due: eslint --fix

Bump sub-dependencies
  package-lock.json
Due: prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix linting
  src/app/api/-/versions/route.ts
Due: eslint --fix

chore(deps): Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Workaround type changes for downshift
  src/lib/npm-combobox/useNpmCombobox.ts
Due: eslint --fix

Modify specinput to open when focused programmatically
  src/app/_page/MainForm/MainForm.tsx
  src/app/_page/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Workaround changes to chakra inputs
  src/app/_page/MainForm/CenterInputAddon.tsx
Due: eslint --fix

Fixes to use client
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/NavLink.tsx
  src/app/about/api/page.client.tsx
  src/app/about/page.client.tsx
  src/app/page.client.tsx
  src/components/CollapsableBorderBox/CollapsableBorderBox.tsx
  src/theme.ts
Due: eslint --fix

Small fix to imports/exports
  src/app/_page/MainForm/MainForm.tsx
  src/app/_page/MainForm/SpecInput/index.ts
Due: eslint --fix

Improve configuration of tailwind intellisens
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

Configure eslint as default formatter for react
  .vscode/settings.json
Due: prettier --write

Alignment of centerinputaddon
  src/app/_page/MainForm/CenterInputAddon.tsx
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

Add some padding to the diff intro name
  src/app/[...parts]/_page/DiffIntro/SpecBox.tsx
Due: eslint --fix

Fix main button spinner look
  src/app/_page/MainForm/MainForm.tsx
  src/components/ui/Button.tsx
Due: eslint --fix

Fix expandable box button being wrong
  src/components/ui/Button.tsx
  src/components/ui/Contents.tsx
Due: eslint --fix

Remove deprecated appDir setting
  next.config.js
Due: eslint --fix

Fix linting errors
  src/app/[...parts]/page.tsx
  src/app/api/[...parts]/route.ts
Due: eslint --fix

Update testing setup for jest-dom@6
  jest.setup.js
Due: eslint --fix

Lets skip linting when building
  next.config.js
Due: eslint --fix

Revert "Fix expandable box button being wrong"
  src/components/ui/Button.tsx
  src/components/ui/Contents.tsx
Due: eslint --fix

Revert "Fix main button spinner look"
  src/app/_page/MainForm/MainForm.tsx
  src/components/ui/Button.tsx
Due: eslint --fix

Fix main button spinner look
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

Move themeColor to viewport to avoid warning
  src/app/layout.tsx
Due: eslint --fix

Don't use global React
  src/app/layout.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
