Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

vscode: config eslint as default formatter
  .vscode/settings.json
Due: prettier --write

Init shadcn-ui
  package-lock.json
  package.json
  postcss.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/lib/utils.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

Replace button on startpage with shadcn ui button
  package-lock.json
  package.json
  src/app/_page/MainForm/MainForm.tsx
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write

modify color-mode toggle to use next-themes
  package-lock.json
  package.json
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/layout.tsx
  src/components/ThemeProvider.tsx
Due: eslint --fix, prettier --write

convert the header to tailwind using chatgpt
  src/app/_layout/Header/Header.tsx
Due: eslint --fix

Convert mini buttons in header to shadcn/tailwind
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/GithubLink.tsx
Due: eslint --fix

remove chakra prop on non-chakra header
  src/app/layout.client.tsx
Due: eslint --fix

Remove chakra providers
  src/app/layout.client.tsx
Due: eslint --fix

configure vscode to help more with tailwind
  .vscode/settings.json
Due: prettier --write

Convert navlinks to tailwind
  src/app/_layout/Header/NavLink.tsx
Due: eslint --fix

convert footer to tailwind
  src/app/_layout/Footer.tsx
  src/app/globals.css
  src/app/layout.client.tsx
Due: eslint --fix

more consistent order of classes
  .eslintrc.json
  package-lock.json
  package.json
  src/app/_layout/Footer.tsx
  src/app/_layout/Header/Header.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write

Convert layout to tailwind
  src/app/_layout/Footer.tsx
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/app/_layout/Header/Header.tsx
  src/app/_layout/Header/NavLink.tsx
  src/app/globals.css
  src/app/layout.client.tsx
  src/app/layout.tsx
  src/components/ExternalLink.tsx
  src/components/ui/button.tsx
  src/lib/cn.ts
Due: eslint --fix

Convert tooltip to shadcn
  package-lock.json
  package.json
  src/app/[...parts]/_page/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/app/[...parts]/_page/DiffIntro/ServiceTooltip.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFileHeader.tsx
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/app/about/api/page.client.tsx
  src/app/layout.tsx
  src/components/ButtonExpandBox.tsx
  src/components/CollapsableBorderBox/CollapsableBorderBoxHeader.tsx
  src/components/ThemeProvider.tsx
  src/components/Tooltip.tsx
  src/components/ui/Tooltip.tsx
Due: eslint --fix, prettier --write

chore(deps): Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Convert ExamplesList to tailwind
  src/app/_page/ExamplesList.tsx
Due: eslint --fix

Fix all build errors
  src/app/[...parts]/_page/DiffIntro/ServiceTooltip.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparison.tsx
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

update vscode config
  .vscode/settings.json
Due: prettier --write

convert intro to tailwind
  src/app/_page/Intro.tsx
  src/app/page.client.tsx
  src/components/ui/Code.tsx
Due: eslint --fix

Rename button -> Button
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/components/ui/Button.tsx
Due: eslint --fix

Convert ButtonExpandBox to tailwind
  src/components/ButtonExpandBox.tsx
Due: eslint --fix

Convert ButtonExpandBox
  src/app/[...parts]/_error/ErrorBox.tsx
  src/app/[...parts]/_page/DiffIntro/Options.tsx
  src/app/_page/OptionsForm.tsx
  src/components/BorderBox.tsx
  src/components/CollapsableBorderBox/CollapsableBorderBox.tsx
  src/components/ui/BorderBox.tsx
  src/components/ui/ButtonExpandBox.tsx
Due: eslint --fix

More tailwind
  src/app/[...parts]/_error/ErrorBox.tsx
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
  src/app/[...parts]/_page/DiffIntro/Options.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.skeleton.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffHunk.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFiles.tsx
  src/app/_page/OptionsForm.tsx
  src/components/CollapsableBorderBox/CollapsableBorderBox.tsx
  src/lib/utils/contentVisibility.ts
Due: eslint --fix

Convert api page
  src/app/about/api/page.client.tsx
  src/app/about/api/page.tsx
  src/components/ui/Code.tsx
  src/components/ui/Heading.tsx
Due: eslint --fix

Remove unneeded classRegex
  .vscode/settings.json
Due: prettier --write

Use heading in header
  src/app/_layout/Header/Header.tsx
  src/components/ui/Heading.tsx
Due: eslint --fix

adjust the size of button in header
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/app/_layout/Header/Header.tsx
  src/components/ui/Button.tsx
Due: eslint --fix

Nicer fade in of theme on load
  src/app/_layout/Header/ColorModeToggle.tsx
  src/components/ui/Tooltip.tsx
Due: eslint --fix

Update about page
  src/app/about/_page/assets/index.ts
  src/app/about/page.client.tsx
  src/components/ui/Image.tsx
Due: eslint --fix

Remove client page as it is no longer needed
  src/app/about/page.client.tsx
  src/app/about/page.tsx
Due: eslint --fix

Create and use stack component for flex columns
  src/app/_page/ExamplesList.tsx
  src/app/about/api/page.tsx
  src/app/about/page.tsx
  src/app/layout.tsx
  src/components/ui/ButtonExpandBox.tsx
  src/components/ui/Stack.tsx
Due: eslint --fix

convert homepage from chakra to tailwind
  src/app/page.client.tsx
  src/app/page.tsx
Due: eslint --fix

Convert Specinput and combobox to tailwind
  src/app/_page/MainForm/MainForm.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxBox.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxInput.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxWrapper.tsx
  src/app/_page/MainForm/SpecInput/Combobox/index.ts
  src/app/_page/MainForm/SpecInput/SpecInput.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Title.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/VersionTag.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/emphasized.tsx
  src/components/ui/Heading.tsx
  src/components/ui/Input.tsx
Due: eslint --fix

adjust button to not be as distinct
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

Convert CenterInputAddon to tailwind
  src/app/_page/MainForm/CenterInputAddon.tsx
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

Small styling of combobox
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Title.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/VersionTag.tsx
Due: eslint --fix

Convert mainform
  src/app/_page/MainForm/MainForm.tsx
Due: eslint --fix

Add use client to SpecInput
  src/app/_page/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Convert optionsform
  package-lock.json
  package.json
  src/app/_page/OptionsForm.tsx
  src/components/ui/Label.tsx
Due: eslint --fix, prettier --write

Adjust use client where possible
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/[...parts]/_page/SizeComparison/SizeComparison.tsx
  src/app/_layout/Header/GithubLink.tsx
  src/components/ExternalLink.tsx
Due: eslint --fix
