Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: move diff styling import into ..parts.
  src/pages/[...parts].tsx
  src/pages/_app.tsx
Due: eslint --fix

refactor: Move git diff into diff components
  src/components/Diff/DiffFile.tsx
  src/components/Diff/DiffFiles.tsx
  src/components/Diff/DiffHunk.tsx
  src/pages/[...parts].tsx
Due: eslint --fix

refactor: Freeze example array
  src/examples.ts
Due: eslint --fix

chore: Bump versions
  package-lock.json
  package.json
  src/components/Header/APILink.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/Loading.tsx
  src/pages/[...parts].tsx
  src/pages/_app.tsx
  src/pages/about/api.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

chore(actions): Update Node and nodejs action
  .github/workflows/nodejs.yml
Due: prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore: Add engines to package.json
  package.json
Due: prettier --write

chore: Use simple-git-hooks instead of husky
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump versions and lint-fix
  package-lock.json
  package.json
  src/util/npm-parser.ts
Due: eslint --fix, prettier --write

Use volta to use correct version of node instead of specifying in workflow
  .github/workflows/nodejs.yml
Due: prettier --write

chore: Upgrade to next 11
  .eslintrc.json
  package-lock.json
  package.json
  src/pages/api/[...parts].ts
Due: eslint --fix, prettier --write

Remove useless eslint-disable
  src/util/getPkgDetails.ts
Due: eslint --fix

chore: Bump versions
  package-lock.json
  package.json
Due: prettier --write

Add scope to package name.
  package.json
Due: prettier --write

Use npm6 to match vercel
  package-lock.json
  package.json
Due: prettier --write

Check in change to next-env.d.ts
  next-env.d.ts
Due: eslint --fix

Add libnpmdiff package
  package-lock.json
  package.json
  types/libnpmdiff/index.d.ts
  types/libnpmdiff/package.json
Due: eslint --fix, prettier --write

Use npm diff code for doing the package diff! seems to work well!
  package-lock.json
  package.json
  src/util/getDiff.ts
  src/util/getPkgDetails.ts
  src/util/npm-api.ts
  src/util/npm-parser.ts
  src/util/query-to-diff.ts
  types/libnpmdiff/index.d.ts
  types/unidiff/index.d.ts
  types/unidiff/package.json
Due: eslint --fix, prettier --write

Clean up code somewhat
  src/interfaces/NpmManifest.ts
  src/lib/npm-diff.ts
  src/lib/parts-to-specs.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

Check if there are uncommited changes
  .github/workflows/nodejs.yml
Due: prettier --write

Make change that should be noticed
  next-env.d.ts
Due: eslint --fix

Use has changes instead and see if it works
  .github/workflows/nodejs.yml
Due: prettier --write

Trial and error
  .github/workflows/nodejs.yml
Due: prettier --write

Add name to maybe make slightly more useful
  .github/workflows/nodejs.yml
Due: prettier --write

Revert to the first action..
  .github/workflows/nodejs.yml
Due: prettier --write

Re-add missing stuff
  next-env.d.ts
Due: eslint --fix

Check uncommited changes (#349)
  .github/workflows/nodejs.yml
Due: prettier --write

Use `libnpmdiff` for comparing packages (#348)
  package-lock.json
  package.json
  src/interfaces/NpmManifest.ts
  src/lib/npm-diff.ts
  src/lib/parts-to-specs.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
  src/util/getDiff.ts
  src/util/getPkgDetails.ts
  src/util/npm-api.ts
  src/util/npm-parser.ts
  src/util/query-to-diff.ts
  types/libnpmdiff/index.d.ts
  types/libnpmdiff/package.json
  types/unidiff/index.d.ts
Due: eslint --fix, prettier --write

chore(dev-deps): Update @types/node
  package-lock.json
  package.json
Due: prettier --write

Be more strict, following default template
  .eslintrc.json
  next.config.js
  src/components/Header/APILink.tsx
  src/pages/about/api.tsx
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Rebranding
  README.md
  package-lock.json
  package.json
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Layout.tsx
  src/pages/about/api.tsx
Due: eslint --fix, prettier --write

Change button
  src/pages/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
