Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

TrustAuditFinding should handle all findings, so if we find something else, throw
  src/app/[...parts]/_page/Sources/TrustAuditFindings.tsx
Due: eslint --fix

Updates
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Check urls in a better way
  src/app/[...parts]/_page/Sources/SourceCard/SourceCard.tsx
  src/app/[...parts]/_page/Sources/SourceCompareButton/SourceCompareButton.tsx
  src/lib/utils/isAllowedRepositoryHost.test.ts
  src/lib/utils/isAllowedRepositoryHost.ts
Due: eslint --fix

Refactor CatalogPage and metadata generation to use specs instead of packageName
  src/app/[...parts]/_page/catalog/CatalogPage.tsx
  src/app/[...parts]/_page/catalog/generateCatalogMetadata.ts
  src/app/[...parts]/page.tsx
Due: eslint --fix

Refactor ComparisonList to use specs for diff path generation and improve key handling
  src/app/[...parts]/_page/catalog/ComparisonList.tsx
Due: eslint --fix

Refactor PackageMeta to simplify conditional rendering and improve maintainers and keywords display
  src/app/[...parts]/_page/catalog/PackageMeta.tsx
Due: eslint --fix

Make catalog page accomodate longer package names
  src/app/[...parts]/_page/catalog/CatalogPage.tsx
  src/app/[...parts]/_page/catalog/ComparisonList.tsx
Due: eslint --fix

Bump depdendencies (not next)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Migrate to next 16.2 (broken)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add .mcp.json (for claude)
  .mcp.json
Due: prettier --write

Move copilot-instructions to AGENTS.md, symlink CLAUDE.md
  .claude/CLAUDE.md
  AGENTS.md
Due: prettier --write

Gitignore .claude/settings.local.json
  .gitignore
Due: none

Migrate from next-themes to @wrksz/themes
  package.json
  pnpm-lock.yaml
  src/app/_layout/Header/ColorModeToggle.tsx
  src/app/layout.tsx
  src/components/ThemeProvider.tsx
Due: eslint --fix, prettier --write

Fix hydration mismatch in Tooltip with RSC slot children
  src/components/ui/Tooltip.tsx
Due: eslint --fix

Update pnpm, pnpm config and node
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update vulnerable direct dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

pn audit --fix update
  pnpm-lock.yaml
Due: prettier --write

Update postcss
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

eslint ignore the img in the opengraph image .tsx
  src/app/-/about/source-trust/opengraph-image.tsx
Due: eslint --fix

Update and pin all actions
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependency-review.yml
  .github/workflows/nodejs.yml
Due: prettier --write

Update pnpm
  package.json
Due: prettier --write

Update pnpm config
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update patched packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Patch sharp to fix vuln
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bump npm lib packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Pin npm lib subdeps to no longer use ESM
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Bump everything but next/eslint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Update workflows
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/nodejs.yml
Due: prettier --write

next-env.d.ts should not be checked in
  next-env.d.ts
  package.json
Due: eslint --fix, prettier --write

Upgrade to tailwind v4
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  src/app/[...parts]/_page/NpmDiff/ViewTypeSwitch.tsx
  src/app/[...parts]/_page/Sources/SourceCard/SourceCard.tsx
  src/app/[...parts]/_page/Sources/Sources.tsx
  src/app/[...parts]/_page/catalog/CatalogPage.tsx
  src/app/_layout/Header/Header.tsx
  src/app/_page/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/app/_page/NewFeatureSourceTrust.tsx
  src/app/globals.css
  src/components/ui/Button.tsx
  src/components/ui/Input.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write

Update pnpm and config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Fix analytics not running
  src/app/layout.tsx
Due: eslint --fix

Update wrksz/themes
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update next 16.3
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Patch gitdiff-parser to fix invalid .d.ts syntax
  patches/gitdiff-parser@0.3.1.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Apply Prettier/Tailwind class-order formatting
  postcss.config.mjs
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.skeleton.tsx
  src/app/[...parts]/_page/Sources/SourceCard/SourceCard.tsx
  src/app/[...parts]/_page/catalog/ComparisonList.tsx
  src/app/_layout/Header/MobileMenu.tsx
  src/app/_page/MainForm/CenterInputAddon.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/app/_page/MainForm/SpecInput/SpecInput.tsx
  src/app/_page/NewFeatureSourceTrust.tsx
  src/app/layout.tsx
  src/components/ui/Button.tsx
  src/components/ui/Code.tsx
  src/components/ui/Input.tsx
  src/components/ui/Label.tsx
  src/lib/api/npm/sourceInformation/getSourceFromManifest.ts
  src/lib/destination/versionsToSpecs.ts
  src/lib/utils/splitParts.ts
Due: eslint --fix
