Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix example api path
  src/pages/about/api.tsx
Due: eslint --fix

Update about/api
  src/examples.ts
  src/pages/about/api.tsx
Due: eslint --fix

Update types for libnpmdiff
  package-lock.json
  types/libnpmdiff/index.d.ts
  types/libnpmdiff/package.json
Due: eslint --fix, prettier --write

feat(api): Add support for all npm-diff options
  src/lib/npm-diff.ts
  src/pages/api/[...parts].ts
Due: eslint --fix

chore(api): Move query parsing methods into lib file to be reused
  src/lib/parse-query.ts
  src/pages/api/[...parts].ts
Due: eslint --fix

refactor: Move examples into `lib/`
  src/lib/examples.ts
  src/pages/about/api.tsx
  src/pages/index.tsx
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore(vscode): Add conventional commit scopes
  .vscode/settings.json
Due: prettier --write

fix: Fix missed import of examples
  src/pages/[...parts].tsx
Due: eslint --fix

feat: :sparkles: Add basic recirects to app and api
  package.json
  src/lib/array-equals.ts
  src/lib/get-absolute-specs.ts
  src/lib/npm-diff.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix, prettier --write

fix: :pencil2: Fix missed import in lib/npm-diff
  src/pages/about/api.tsx
Due: eslint --fix

fix: :boom: Stop pre-building the examples.
  src/pages/[...parts].tsx
Due: eslint --fix

feat: :zap: Re-adding prebuilding of examples.
  src/pages/[...parts].tsx
Due: eslint --fix

test: Add testing for absolute specs
  .babelrc
  jest.config.js
  package-lock.json
  package.json
  src/lib/get-absolute-specs.test.ts
  src/lib/get-absolute-specs.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix, prettier --write

ci(actions): 🚀 Run tests on ci
  .github/workflows/nodejs.yml
Due: prettier --write

chore(vscode): Add commitscope actions
  .vscode/settings.json
Due: prettier --write

chore(deps-dev): Use published types for libnpmdiff.
  package-lock.json
  package.json
  types/libnpmdiff/index.d.ts
  types/libnpmdiff/package.json
Due: eslint --fix, prettier --write

docs: Document what `convertVersionsToSpecs` does
  src/lib/get-absolute-specs.ts
Due: eslint --fix

refactor: Rename and clarify `parts-to-specs` -> `split-parts`
  src/lib/split-parts.ts
  src/pages/[...parts].tsx
  src/pages/about/api.tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

refactor: ✨ Create new well-tested "immutable-spec" method.
  src/lib/immutable-spec.test.ts
  src/lib/immutable-spec.ts
Due: eslint --fix

refactor: Refactor code for resolving immutable specs
  src/lib/get-absolute-specs.test.ts
  src/lib/get-absolute-specs.ts
  src/lib/npm-diff.ts
  src/lib/parse-query.ts
  src/lib/versions-to-specs.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

refactor: Refactor weird npmdiff method to destination-specs.
  src/lib/destination.test.ts
  src/lib/destination.ts
  src/lib/get-absolute-specs.test.ts
  src/lib/get-absolute-specs.ts
  src/lib/immutable-spec.test.ts
  src/lib/npm-diff.ts
  src/lib/specs-to-diff.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

fix: ✏ Fix oopsie in imports
  src/pages/[...parts].tsx
Due: eslint --fix

refactor: Stop using static pages, make main page handle, query for options
  src/lib/raw-query.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

style: Clean up React typings
  src/components/Diff/DiffFile.tsx
  src/components/Diff/DiffFiles.tsx
  src/components/Diff/DiffHunk.tsx
  src/components/Header/GithubLink.tsx
  src/components/Header/index.tsx
  src/components/Hero.tsx
  src/components/Layout.tsx
  src/components/Loading.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  types/react-diff-view/index.d.ts
Due: eslint --fix

refactor: Refactor api endpoint for new structure
  src/pages/api/[...parts].ts
Due: eslint --fix

refactor: Cleanup some imports in ...parts.tsx
  src/components/Loading.tsx
  src/pages/[...parts].tsx
Due: eslint --fix

fix: Fix redirect for main page to avoid double params
  src/lib/raw-query.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

feat: Make sure everything is cached
  src/lib/set-cache-control.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

refactor: Restructure code
  src/lib/destination/immutable-spec.test.ts
  src/lib/destination/immutable-spec.ts
  src/lib/destination/index.test.ts
  src/lib/destination/index.ts
  src/lib/destination/versions-to-specs.ts
  src/lib/utils/array-equals.ts
  src/lib/utils/parse-query.ts
  src/lib/utils/raw-query.ts
  src/lib/utils/set-cache-control.ts
  src/lib/utils/specs-to-diff.ts
  src/lib/utils/split-parts.ts
  src/pages/[...parts].tsx
  src/pages/about/api.tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

fix(test): Fix imports not working in tests!
  jest.config.js
Due: eslint --fix

chore(vscode): Check in new "test" scope.
  .vscode/settings.json
Due: prettier --write

test: Add unit tests for version-to-specs
  src/lib/destination/versions-to-specs.test.ts
  src/lib/destination/versions-to-specs.ts
Due: eslint --fix

refactor(query): Break apart query parsing for unit testing
  src/lib/query/index.ts
  src/lib/query/parse-boolean.ts
  src/lib/query/parse-number.ts
  src/lib/query/parse-string.ts
  src/lib/utils/parse-query.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

chore(vscode): Add some plausible scopes, also sorting of scopes
  .vscode/settings.json
Due: prettier --write

refactor: Make examples readonly since it will not change
  src/lib/examples.ts
Due: eslint --fix

test(lib): ✅ Do testing for query parsing
  src/lib/query/index.test.ts
  src/lib/query/parse-boolean.test.ts
  src/lib/query/parse-number.test.ts
  src/lib/query/parse-string.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
