Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Remove unecessary prettier configuration
  .prettierrc.json
Due: prettier --write

Update tsconfig
  tsconfig.json
Due: prettier --write

Fix prettier plugin failing to load
  .vscode/settings.json
Due: prettier --write

Add @typescript-eslint/eslint-plugin and enforce consistent type imports
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Ok so the sort-imports is needed for the import members
  .eslintrc.json
Due: prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix darkmode not working
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.css
Due: none

Fix weird import in layout
  src/app/layout.tsx
Due: eslint --fix

Move import into css
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.css
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.tsx
Due: eslint --fix

Update darkmode variables
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.tsx
Due: eslint --fix

Revert "Move import into css"
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.css
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.tsx
Due: eslint --fix

Update darkmode variables
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/react-diff-view.css
Due: none

Slightly different size for center input
  src/app/_page/MainForm/CenterInputAddon.tsx
Due: eslint --fix

Use unstable_cache to save resolving and other things between requests
  src/lib/destination/canonicalSpec.ts
  src/lib/npmDiff/npmDiff.ts
Due: eslint --fix

remove dynamic force-static
  src/app/[...parts]/page.tsx
  src/app/page.tsx
Due: eslint --fix

Make sure suspense happens every time
  src/app/[...parts]/page.tsx
Due: eslint --fix

Fix missing types in tests
  tsconfig.json
Due: prettier --write

Fix tests by mocking unstable_cache
  jest.setup.js
Due: eslint --fix

Minor improvement by resolving pararell
  src/lib/destination/canonicalSpec.test.ts
Due: eslint --fix

Fix duplicate key error because of suspenses
  src/app/[...parts]/page.tsx
Due: eslint --fix

Update colors
  src/app/globals.css
Due: none

Minor polish of autosuggestions. Fixes #784
  src/app/_page/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Title.tsx
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore: Lint all
  src/app/[...parts]/_page/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/components/ui/ButtonExpandBox.tsx
  src/lib/utils/decodeParts.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): Bump dependencies
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Upgrade and re-arrange dependencies
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Simplify workflow
  .github/workflows/nodejs.yml
Due: prettier --write

Upgrade dependencies
  package-lock.json
  package.json
  src/lib/npmDiff/Options.ts
Due: eslint --fix, prettier --write

Update repo
  .github/dependabot.yml
  .gitignore
  LICENSE
  jest.config.js
  next.config.js
  package-lock.json
  package.json
  postcss.config.cjs
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

remove unecessary
  tsconfig.json
Due: prettier --write

Upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

SimplePackageSpecToString()
  src/app/[...parts]/page.tsx
  src/lib/SimplePackageSpec.ts
  src/lib/createSimplePackageSpec.ts
Due: eslint --fix

Reuse code for writing out specs a bit more
  src/app/[...parts]/_page/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/app/[...parts]/_page/NpmDiff/NoDiff.tsx
  src/app/[...parts]/page.tsx
  src/components/ui/Pkg.tsx
Due: eslint --fix

Add publish dates under each package in the diff
  src/app/[...parts]/_page/DiffIntro/PublishDate.tsx
  src/app/[...parts]/_page/DiffIntro/SpecBox.tsx
  src/lib/api/npm/publish-date.ts
  src/lib/suspense.tsx
Due: eslint --fix
