Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Enable and fix all finds of `@typescript-eslint/ban-ts-comment`
  eslint.config.mjs
  src/lib/utils/splitParts.test.ts
Due: eslint --fix

Enable `@typescript-eslint/no-unused-expressions`
  eslint.config.mjs
Due: none

Enable and fix all finds of `@typescript-eslint/no-require-imports`
  eslint.config.mjs
  src/lib/utils/useThrottle.ts
Due: eslint --fix

Import animate plugin using import to avoid require()
  tailwind.config.ts
Due: eslint --fix

Enable and fix all finds of `react-hooks/refs`
  eslint.config.mjs
  src/app/_page/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Enable and fix all finds of `react-hooks/immutability`
  eslint.config.mjs
  src/app/[...parts]/_page/DiffIntro/DiffIntro.tsx
Due: eslint --fix

Enable and fix all finds of `react-hooks/set-state-in-effect`
  eslint.config.mjs
  src/app/_layout/Header/NavLink.tsx
Due: eslint --fix

Remove temporary overrides
  eslint.config.mjs
Due: none

Fix null/undefined mistake
  src/lib/autocomplete/useAutocomplete.ts
Due: eslint --fix

Print more information when packagephobia fails
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Hopefully fix/improve the user agent code
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/api/user-agent.ts
Due: eslint --fix

Add robots file to hopefully avoid trying to diff the robots.txt package
  src/app/robots.ts
Due: eslint --fix

Revert "Hopefully fix/improve the user agent code"
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/api/user-agent.ts
Due: eslint --fix

ECho headers when failing
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Cleanup next.config
  next.config.js
  next.config.ts
Due: eslint --fix

Autoformat js with prettier
  .vscode/settings.json
Due: prettier --write

Update/fix vscode extensions configuration
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

Enable incremental in tsconfig
  tsconfig.json
Due: prettier --write

Fix type issue causing build failures with incremental builds
  src/lib/npm-combobox/useNpmCombobox.ts
Due: eslint --fix

Fix hydration warning
  src/components/ClientDate.tsx
Due: eslint --fix

Add nvmrc file
  .nvmrc
Due: none

Automated migration to Next.js Cache Components
  next.config.ts
  src/app/[...parts]/page.tsx
  src/app/_layout/Header/Header.tsx
  src/app/about/api/page.tsx
  src/app/api/-/versions/route.ts
  src/app/layout.tsx
Due: eslint --fix

Updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

I was a bit eager changing the defaultFormatter
  .vscode/settings.json
Due: prettier --write

Updates
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Enable reactCompiler
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Remove some various memoization/rendering optimizations, relying on reactCompiler instead
  src/app/[...parts]/_page/NpmDiff/DiffFiles/DiffFile/DiffFile.tsx
  src/app/_page/MainForm/MainForm.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/Title.tsx
  src/app/_page/MainForm/SpecInput/Suggestion/VersionTag.tsx
  src/components/ClientDate.tsx
  src/lib/npm-combobox/useNpmCombobox.ts
Due: eslint --fix

Automated migration to cache components
  next.config.ts
  src/app/[...parts]/page.tsx
  src/app/about/api/page.tsx
  src/app/api/-/versions/route.ts
  src/app/layout.tsx
Due: eslint --fix

Cleanup NavLink. No need for internal state
  src/app/_layout/Header/NavLink.tsx
Due: eslint --fix

Fix minor warning about metadata not being of type metadata
  src/app/about/api/page.tsx
  src/app/about/page.tsx
Due: eslint --fix

Revert "ECho headers when failing"
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Revert "Print more information when packagephobia fails"
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Remove all 'legacy' caching/memoization, to prepare for cacheComponents
  src/lib/api/npm/getVersionData.ts
  src/lib/destination/canonicalSpec.ts
  src/lib/npmDiff/npmDiff.ts
Due: eslint --fix

Enable cacheComponents
  next.config.ts
Due: eslint --fix

Make header render without blocking
  src/app/_layout/Header/Header.tsx
  src/app/_layout/Header/NavLink.tsx
Due: eslint --fix

Make about/api static ('use cache')
  src/app/about/api/page.tsx
Due: eslint --fix

Render the diff page in Suspense to make cacheComponents happy
  src/app/[...parts]/page.tsx
Due: eslint --fix

Remove runtime configuration as it's not a thing with cacheComponents
  src/app/about/api/page.tsx
  src/app/api/-/versions/route.ts
Due: eslint --fix
