Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(ui): Fix combobox intersecting other elements
  src/components/Combobox/ComboboxSuggestionList.tsx
Due: eslint --fix

style: Fix sorting of imports for reals
  .eslintrc.json
  src/components/Diff/DiffFile/index.tsx
  src/components/DiffIntro/BundlePhobiaFlags/index.tsx
  src/components/DiffIntro/ServiceLinks.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.tsx
  src/components/Header/index.tsx
  src/components/Landing/index.tsx
  src/lib/destination/index.ts
  src/lib/query/index.ts
Due: eslint --fix, prettier --write

style: FIx all imports sorting
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/index.tsx
  src/lib/api/npms/suggestions.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/toAutocompleteSuggestion.ts
  src/lib/query/parseQuery/parseQuery.ts
Due: eslint --fix

refactor: Restructure code to separate more
  src/lib/query/QueryParams.ts
  src/lib/query/index.ts
  src/lib/query/parseQuery/index.ts
  src/lib/query/parseQuery/parseBoolean.test.ts
  src/lib/query/parseQuery/parseBoolean.ts
  src/lib/query/parseQuery/parseNumber.test.ts
  src/lib/query/parseQuery/parseNumber.ts
  src/lib/query/parseQuery/parseQuery.test.ts
  src/lib/query/parseQuery/parseQuery.ts
  src/lib/query/parseQuery/parseString.test.ts
  src/lib/query/parseQuery/parseString.ts
  src/lib/query/parseQuery/trimUndefined.ts
  src/lib/query/rawQuery.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

style: treat "builtin" the same as "external" when sorting imports.
  .eslintrc.json
  src/pages/[...parts].tsx
Due: eslint --fix, prettier --write

chore: Restructuring for better file names in `/components`
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/Diff/DiffFile/index.ts
  src/components/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/components/DiffIntro/BundlePhobiaFlags/index.ts
  src/components/DiffIntro/DiffIntro.tsx
  src/components/DiffIntro/ServiceLink.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/DiffIntro/index.ts
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/Landing/Landing.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/index.ts
  src/components/Landing/index.ts
  src/components/Layout.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBox.tsx
  src/components/theme/CollapsableBorderBox/index.ts
Due: eslint --fix

refactor: Use `chakra` factory wherever plausible.
  src/components/DiffIntro/ServiceIcon.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/react-diff-view.tsx
  src/components/theme/B.tsx
  src/components/theme/BorderBox.tsx
  src/components/theme/Span.tsx
  src/components/theme/Tooltip.tsx
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

fix: Fix build failing because missing type in MainForm
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

refactor(autocomplete): Restructure mainForm to be more managable
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
  src/components/Landing/MainForm/SpecInput/index.ts
Due: eslint --fix

fix: Use stateReducer to keep dropdown open rather than reopening
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

refactor(autocomplete): Add type to autocompletsuggestions
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/AutocompleteSuggestionTypes.ts
  src/lib/autocomplete/fallback.ts
  src/lib/autocomplete/packageSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteSuggestions.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix

fix(ui): Fix ServiceIcon being broken
  src/components/DiffIntro/ServiceIcon.tsx
Due: eslint --fix

refactor: Restructure lib/autocomplete part 1
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/getAutocompleter.ts
Due: eslint --fix

refactor: Restructure lib/autocomplete part 2
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
  src/lib/autocomplete/index.ts
  src/lib/contexts/FallbackSuggestions.ts
Due: eslint --fix

refactor: Import combobox from the index.ts
  src/components/Combobox/index.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
  package.json
  src/pages/_document.tsx
Due: eslint --fix, prettier --write

Next 12! 🥳
  .babelrc
  jest.config.js
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): Bump subdependencies
  package-lock.json
Due: prettier --write

Bump versions
  package-lock.json
  package.json
Due: prettier --write

feat: Focus b when selecting version for a
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

feat: prepare b when selecting version in a
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix

EDGE FUNCTION FOR VERSIONS!!! 😎
  src/lib/api/npm/packument.ts
  src/lib/api/versions/getAllVersions.ts
  src/lib/utils/headers.ts
  src/pages/_middleware.ts
  src/pages/api/versions.ts
Due: eslint --fix

Fix imported type from the wrong file
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/pages/_middleware.ts
Due: eslint --fix

Try to fix middlewares?
  src/pages/_middleware.ts
Due: eslint --fix

Add stupid logging to middleware
  src/pages/_middleware.ts
Due: eslint --fix

Hack around using `npa`
  package-lock.json
  package.json
  src/lib/api/npm/packument.ts
  types/validate-npm-package-name/index.d.ts
  types/validate-npm-package-name/package.json
Due: eslint --fix, prettier --write

Update caching
  src/lib/api/npms/suggestions.ts
  src/lib/utils/headers.ts
  src/pages/_middleware.ts
Due: eslint --fix

chore: Upgrade npm@8
  package-lock.json
  package.json
Due: prettier --write

chore(package): Fix package-lock
  package-lock.json
Due: prettier --write

fix /api/versions Content-Type
  src/pages/_middleware.ts
Due: eslint --fix

Do I need `Cache-Control: public`?
  src/lib/utils/headers.ts
Due: eslint --fix

Forbid client caching
  src/lib/utils/headers.ts
Due: eslint --fix

Caching shenanigans
  src/lib/utils/headers.ts
Due: eslint --fix

Undo all the caching attempts
  src/lib/utils/headers.ts
Due: eslint --fix

replaceAll
  src/lib/api/npm/packument.ts
Due: eslint --fix

Fix replaceAll failing on edge
  src/lib/api/npm/packument.ts
Due: eslint --fix

Use chakra factory for some simple elements
  src/components/Combobox/ComboboxBox.tsx
  src/components/Combobox/ComboboxLabel.tsx
  src/components/Combobox/ComboboxWrapper.tsx
  src/components/DiffIntro/ServiceIcon.tsx
  src/components/Footer.tsx
Due: eslint --fix

Add cache to the middleware, and add some feedback
  src/pages/_middleware.ts
Due: eslint --fix

chore(deps): Bump versions.
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
