Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Fix error in footer
  src/components/Footer.tsx
Due: eslint --fix

Freeze version of `@chakra-ui/system@1.9.0` to avoid build errors.
  package-lock.json
  package.json
Due: prettier --write

Revert "Fix error in footer"
  src/components/Footer.tsx
Due: eslint --fix

Install latest version of `@chakra-ui/system`
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Version updates
  package-lock.json
  package.json
Due: prettier --write

Fix override of `@chakra-ui/system`
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump react-diff-view
  package-lock.json
  package.json
Due: prettier --write

fix(ci): Try to fix build failing
  .github/workflows/nodejs.yml
Due: prettier --write

Revert "fix(ci): Try to fix build failing"
  .github/workflows/nodejs.yml
Due: prettier --write

fix: The package-lock.json got messed up somewhere
  package-lock.json
Due: prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore(dev-deps): Bump @types/node@17.0.4
  package-lock.json
  package.json
Due: prettier --write

Use next/jest
  jest.config.js
Due: eslint --fix

Make sure that testing react componentss works
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/components/theme/ExternalLink.test.tsx
Due: eslint --fix, prettier --write

Use next/jest for testing (#537)
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/components/theme/ExternalLink.test.tsx
Due: eslint --fix, prettier --write

Remove unused babel-jest package
  package-lock.json
  package.json
Due: prettier --write

Improve mutation test
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
Due: eslint --fix

Refactor matchVersion to provide slightly better results.
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

refactor: Break apart Suggestion.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/Suggestion.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/Title.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/VersionTag.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/emphasized.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion/index.ts
Due: eslint --fix

Fix input when selecting version in autocomplete
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Use next canary to stop full refreshes.
  package-lock.json
  package.json
Due: prettier --write

Fix code element in serviceTooltip.
  src/components/DiffIntro/ServiceTooltip.tsx
Due: eslint --fix

Fix code in tooltip for bundlebhobia flags too
  src/components/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/theme/TooltipCode.tsx
Due: eslint --fix

Document TooltipCode
  src/components/theme/TooltipCode.tsx
Due: eslint --fix

Clean up unused imports
  src/components/DiffIntro/BundlePhobiaFlags/BundlePhobiaFlags.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

FIx type error in centerInputAddon
  src/components/Landing/MainForm/CenterInputAddon.tsx
Due: eslint --fix

Organize matchVersion tests into groups
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
Due: eslint --fix

Add option for matchVersions to only find versions that are later than X
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Start adding tests for Combobox
  src/components/Combobox/Combobox.test.tsx
Due: eslint --fix

chore(deps): Massive upgrades.
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(deps): Bump remaining packages
  package-lock.json
  package.json
Due: prettier --write

chore(test): Replace usage of tl/react-hooks to tl/react.
  src/lib/hooks/useAsyncState.test.ts
  src/lib/hooks/useThrottle.test.ts
Due: eslint --fix

chore: Update types/react-diff-view with children
  types/react-diff-view/Decoration.d.ts
  types/react-diff-view/Diff.d.ts
  types/react-diff-view/Hunk.d.ts
Due: eslint --fix

chore: Children fixes for FunctionComponent
  src/components/Diff/DiffFile/DiffFile.tsx
  src/components/theme/NextLink.tsx
Due: eslint --fix

chore(deps): Downgrade chakra-ui to v1 again.
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump actions/cache from 2 to 3
  .github/workflows/nodejs.yml
Due: prettier --write

Fix package-lock.json
  package-lock.json
Due: prettier --write

chore(deps): Upgrade all dependencies
  package-lock.json
  package.json
Due: prettier --write
