Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: Move middleware type into separate file
  src/lib/middleware/Middleware.ts
  src/pages/_middleware.ts
Due: eslint --fix

Remove stupid naive caching
  src/pages/_middleware.ts
Due: eslint --fix

Restructure middleware endpoints
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/middleware/index.ts
  src/lib/middleware/versionsEndpoint.ts
  src/pages/api/_middleware.ts
Due: eslint --fix

refactor: Prepare for more advanced version matching
  src/lib/api/versions/Version.ts
  src/lib/api/versions/getAllVersions.ts
  src/lib/api/versions/index.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
  src/lib/middleware/versionsEndpoint.ts
  src/pages/api/_middleware.ts
Due: eslint --fix

fix: Fix the filterUntil util somewhat
  src/lib/utils/filterUntil.test.ts
  src/lib/utils/filterUntil.ts
Due: eslint --fix

Match tags too
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
  src/lib/middleware/versionsEndpoint.ts
  src/lib/utils/filterUntil.ts
  src/pages/api/_middleware.ts
Due: eslint --fix

Stop using dangorouslySettingHtml
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
Due: eslint --fix

re-fix serviceIcon
  src/components/DiffIntro/ServiceIcon.tsx
Due: eslint --fix

Pass in correct type to forwardref in ServiceIcon
  src/components/DiffIntro/ServiceIcon.tsx
Due: eslint --fix

Change to emphasize all tags
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Redesigning suggestions UI
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
  src/lib/autocomplete/AutocompleteSuggestion.ts
  src/lib/autocomplete/packageSuggestion.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
Due: eslint --fix

Use memoization for the emphasized strings
  src/components/Landing/MainForm/SpecInput/Suggestion.tsx
Due: eslint --fix

Make the body of the suggestions smaller
  src/lib/autocomplete/autcompleteSize.ts
Due: eslint --fix

chore(deps): Bump next
  package-lock.json
  package.json
Due: prettier --write

Update favicon and meta
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/components/Layout.tsx
  src/pages/[...parts].tsx
  src/pages/_document.tsx
Due: eslint --fix

Bump versions
  next-env.d.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(deps): Bump versions
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump subversions
  package-lock.json
Due: prettier --write

chore: Fix linting in middleware
  src/lib/middleware/Middleware.ts
Due: eslint --fix

feat(packagephobia): Add timeout to request to packagephobia
  src/lib/api/TimedOut.ts
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/default-timeout.ts
  src/lib/utils/headers.ts
  src/lib/wait.ts
  src/pages/[...parts].tsx
Due: eslint --fix

Break out timeout to util function
  src/lib/api/TimedOut.ts
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

feat(bundlephobia): Add timeout to calls to bundlephobia
  src/lib/api/bundlephobia/bundlephobia.ts
  src/pages/[...parts].tsx
Due: eslint --fix

Add timeout to requests to external services (#518)
  src/lib/api/TimedOut.ts
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/default-timeout.ts
  src/lib/utils/headers.ts
  src/lib/wait.ts
  src/pages/[...parts].tsx
Due: eslint --fix

Show error when using bad query
  src/components/ErrorBox.tsx
  src/lib/diff.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

Fix some oopsies
  src/lib/diff.ts
  src/pages/[...parts].tsx
Due: eslint --fix

Make error types better
  src/lib/diff.ts
Due: eslint --fix

fix(ci): Fix cache keys
  .github/workflows/nodejs.yml
Due: prettier --write

Fix cache keys
  .github/workflows/nodejs.yml
Due: prettier --write

Be less silly with cache restore
  .github/workflows/nodejs.yml
Due: prettier --write

Fix nextjs cache
  .github/workflows/nodejs.yml
Due: prettier --write

cache node_modules
  .github/workflows/nodejs.yml
Due: prettier --write

Hash src completely
  .github/workflows/nodejs.yml
Due: prettier --write

Reshuffle order of steps
  .github/workflows/nodejs.yml
Due: prettier --write

Fix lots of forwardRef usage
  src/components/DiffIntro/BundlePhobiaFlags/Flag.tsx
  src/components/DiffIntro/Command.tsx
  src/components/DiffIntro/DiffIntro.tsx
  src/components/DiffIntro/Halfs.tsx
  src/components/DiffIntro/Options.tsx
  src/components/DiffIntro/ServiceIcon.tsx
  src/components/DiffIntro/ServiceTooltip.tsx
  src/components/DiffIntro/SizeComparison.tsx
  src/components/Footer.tsx
  src/components/Header/ColorModeToggle.tsx
  src/components/Landing/Intro.tsx
  src/components/Landing/MainForm/CenterInputAddon.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/components/theme/ButtonExpandBox.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBox.tsx
  src/components/theme/CollapsableBorderBox/CollapsableBorderBoxHeader.tsx
  src/components/theme/ExternalLink.tsx
Due: eslint --fix

Fix forwardRef on ErrorBox
  src/components/ErrorBox.tsx
Due: eslint --fix

Handle errors from external services
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
Due: eslint --fix

Modify error logging of for diff errors
  src/lib/diff.ts
Due: eslint --fix

Show error when using bad query (#519)
  src/components/ErrorBox.tsx
  src/lib/api/bundlephobia/bundlephobia.ts
  src/lib/api/packagephobia/packagephobia.ts
  src/lib/diff.ts
  src/pages/[...parts].tsx
  src/pages/api/[...parts].ts
Due: eslint --fix

chore(deps): Bump versions
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,yaml,json}
