Repository oBusk/npm-diff.app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,tsx,js,jsx}": ["eslint --fix"],
    "**/*.{md,yml,yaml,json}": ["prettier --write"]
}

Delete codeql workflow to recreate it
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Create codeql.yml
  .github/workflows/codeql.yml
Due: prettier --write

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Due: prettier --write

Lint workflow yml files
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: prettier --write

test: Add github-actions reporter
  jest.config.js
Due: eslint --fix

test: Install jest-environment-jsdom
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Update package-lock
  package-lock.json
Due: prettier --write

Fix type fail in combobox
  src/components/Combobox/Combobox.tsx
Due: eslint --fix

chore(deps): Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: Output errors to the client rather than failing on server
  src/pages/[...parts].tsx
Due: eslint --fix

fix: Better type of error catching
  src/pages/[...parts].tsx
Due: eslint --fix

Make splitParts handle a single spec as input
  src/lib/utils/splitParts.test.ts
  src/lib/utils/splitParts.ts
Due: eslint --fix

Let lib/destination handle single spec
  src/lib/destination/index.test.ts
  src/lib/destination/index.ts
  src/lib/destination/versionsToSpecs.test.ts
  src/lib/destination/versionsToSpecs.ts
Due: eslint --fix

Fix about/api failing to run
  src/pages/about/api.tsx
Due: eslint --fix

Make the landing UI allow a single input
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

feat: Allow single spec shortcuts (#611)
  src/components/Landing/MainForm/MainForm.tsx
  src/lib/destination/index.test.ts
  src/lib/destination/index.ts
  src/lib/destination/versionsToSpecs.test.ts
  src/lib/destination/versionsToSpecs.ts
  src/lib/utils/splitParts.test.ts
  src/lib/utils/splitParts.ts
  src/pages/about/api.tsx
Due: eslint --fix

fix: Title warning
  src/components/Layout.tsx
  src/pages/[...parts].tsx
  src/pages/about/api.tsx
Due: eslint --fix

fix: No need to use next Link for external link
  src/pages/about/api.tsx
Due: eslint --fix

Remove leftover autofocus code.
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Fix autocomplete not working when running locally.
  src/lib/hooks/useAsyncState.ts
Due: eslint --fix

We could/should probably memo the autocompleter
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

The ref can be passed along as part of the `{...props}`
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Get values of inputs in `MainForm`.
  package-lock.json
  package.json
  src/components/Combobox/Combobox.tsx
  src/components/Landing/MainForm/MainForm.tsx
  src/lib/hooks/useForceUpdate.ts
Due: eslint --fix, prettier --write

fix: matchVersions returning prereleases multiple times
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Move combobox into SpecInput
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.test.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxBox.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxButton.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxInput.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxLabel.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestion.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxSuggestionList.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/ComboboxWrapper.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/index.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
Due: eslint --fix

Pass in correct type to forwardref in ServiceIcon
  src/components/DiffIntro/ServiceIcon.tsx
Due: eslint --fix

FIx type error in centerInputAddon
  src/components/Landing/MainForm/CenterInputAddon.tsx
Due: eslint --fix

Update MainForm to use forwardRef
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

import and use correct tooltip
  src/components/Landing/MainForm/MainForm.tsx
Due: eslint --fix

Fix some diffs in headers.ts
  src/lib/utils/headers.ts
Due: eslint --fix

Refactor to get autocompleter via a hook
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/getAutocompleter.ts
  src/lib/autocomplete/index.ts
  src/lib/autocomplete/useAutocompleter.ts
Due: eslint --fix

Clean up leftover commented code
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Remove left over import
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
Due: eslint --fix

Fix matchVersion to deal with `greaterThan` in a clear way.
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

use `lte` for all cases, and not `lt` only for major
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Give `matchVersions` a clearer API by being more generic.
  src/lib/autocomplete/providers/versions/matchVersions.test.ts
  src/lib/autocomplete/providers/versions/matchVersions.ts
Due: eslint --fix

Refactor to limit B by selected in A
  src/components/Landing/MainForm/MainForm.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.test.tsx
  src/components/Landing/MainForm/SpecInput/Combobox/Combobox.tsx
  src/components/Landing/MainForm/SpecInput/SpecInput.tsx
  src/lib/autocomplete/autocomplete.ts
  src/lib/autocomplete/index.ts
  src/lib/autocomplete/providers/getAutocompleteVersions.ts
  src/lib/autocomplete/useAutocompleter.ts
  src/lib/hooks/useThrottle.test.ts
  src/lib/hooks/useThrottle.ts
Due: eslint --fix

Remove unecessary import in useThrotte.test
  src/lib/hooks/useThrottle.test.ts
Due: eslint --fix
